
<section class="content-header" style="z-index:10000">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">Home</a></li>
		<li class="active">user</li>
	</ol>
</section>

<a href="#/user/0" class="btn btn-primary">
    <i class="fa fa-plus"></i> Create New
</a>

<div class="box">
    <div class="box-header">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter keyword" data-ng-model="vm.searchText" >
            </div>
                <button class="btn btn-default" ng-click="vm.searchTextChanged()">
                    <i class="fa fa-search"></i> Search
                </button>

        </div>
    </div>
</div>

    <div class="box-body">
        <table ng-table="vm.tableParams" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="item in $data">
			<!--[@NgTableData]-->
			<td data-title="'Email'" >{{item.Email}}</td>
			<td data-title="'EmailConfirmed'" >{{item.EmailConfirmed}}</td>
			<td data-title="'PasswordHash'" >{{item.PasswordHash}}</td>
			<td data-title="'SecurityStamp'" >{{item.SecurityStamp}}</td>
			<td data-title="'PhoneNumber'" >{{item.PhoneNumber}}</td>
			<td data-title="'PhoneNumberConfirmed'" >{{item.PhoneNumberConfirmed}}</td>
			<td data-title="'TwoFactorEnabled'" >{{item.TwoFactorEnabled}}</td>
			<td data-title="'LockoutEndDateUtc'" sortable="'LockoutEndDateUtc'">{{item.LockoutEndDateUtc | date:"dd-MM-yyyy" }}</td>
			<td data-title="'LockoutEnabled'" >{{item.LockoutEnabled}}</td>
			<td data-title="'AccessFailedCount'" >{{item.AccessFailedCount}}</td>
			<td data-title="'UserName'" >{{item.UserName}}</td>
			<td data-title="'Discriminator'" >{{item.Discriminator}}</td>

			<td width="10%" align="center" valign="middle">
                <button class="btn btn-default fa fa-edit" title="Update" ng-click="vm.edit(item.Id)"></button>
                <button class="btn btn-default fa fa-trash" title="Delete" ng-click="vm.delete(item.Id)"></button>			
			</td>
        </tr>
    </table>
    
</div>

</div>
