<section class="content-header" style="z-index:10000">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">Home</a></li>
		<li><a href="#/Users">Users</a></li>
		<li class="active">user</li>
	</ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
	        <div class="box-header">
			<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveUser()">
				<i class="fa fa-save"></i> Save
			</button>
			<button onclick="window.location.href='#/users'" class="btn btn-default" title="User">Close</button>
			<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.user.Id)">
				<i class="fa fa-times">
				</i> Delete
			</button>
        </div>
		<div class="box-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Detail user
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-lg-12">
								<div class="row">
							<!-- [@FormControls] -->
					<div class="form-group" ng-class="{ 'has-error' : itemForm.Email.$invalid && !itemForm.Email.$pristine }">
					    <label for="Email" class="col-sm-3 control-label">Email<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.user.Email" class="form-control" name="name" placeholder="Email" required>
							<span class="error-message" ng-show="submitted && itemForm.Email.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.EmailConfirmed.$invalid && !itemForm.EmailConfirmed.$pristine }">
					    <label  class="col-sm-3 control-label">EmailConfirmed<font color="#FF0000">*</font></label>
					    <div class="col-md-9">
							<input type="checkbox" ng-init="vm.user.EmailConfirmed=true" ng-model="vm.user.EmailConfirmed" />       
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.PasswordHash.$invalid && !itemForm.PasswordHash.$pristine }">
					    <label for="PasswordHash" class="col-sm-3 control-label">PasswordHash<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.user.PasswordHash" class="form-control" name="name" placeholder="PasswordHash" required>
							<span class="error-message" ng-show="submitted && itemForm.PasswordHash.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.SecurityStamp.$invalid && !itemForm.SecurityStamp.$pristine }">
					    <label for="SecurityStamp" class="col-sm-3 control-label">SecurityStamp<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.user.SecurityStamp" class="form-control" name="name" placeholder="SecurityStamp" required>
							<span class="error-message" ng-show="submitted && itemForm.SecurityStamp.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.PhoneNumber.$invalid && !itemForm.PhoneNumber.$pristine }">
					    <label for="PhoneNumber" class="col-sm-3 control-label">PhoneNumber<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.user.PhoneNumber" class="form-control" name="name" placeholder="PhoneNumber" required>
							<span class="error-message" ng-show="submitted && itemForm.PhoneNumber.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.PhoneNumberConfirmed.$invalid && !itemForm.PhoneNumberConfirmed.$pristine }">
					    <label  class="col-sm-3 control-label">PhoneNumberConfirmed<font color="#FF0000">*</font></label>
					    <div class="col-md-9">
							<input type="checkbox" ng-init="vm.user.PhoneNumberConfirmed=true" ng-model="vm.user.PhoneNumberConfirmed" />       
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.TwoFactorEnabled.$invalid && !itemForm.TwoFactorEnabled.$pristine }">
					    <label  class="col-sm-3 control-label">TwoFactorEnabled<font color="#FF0000">*</font></label>
					    <div class="col-md-9">
							<input type="checkbox" ng-init="vm.user.TwoFactorEnabled=true" ng-model="vm.user.TwoFactorEnabled" />       
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.LockoutEndDateUtc.$invalid && !itemForm.LockoutEndDateUtc.$pristine }">
					   <label for="name" class="col-sm-3  control-label">LockoutEndDateUtc<font color="#FF0000">*</font></label>
					   <div class="col-md-9">
					        <input type="date" name="LockoutEndDateUtc"  class="form-control" placeholder="dd/MM/yyyy"  data-ng-model="vm.user.LockoutEndDateUtc" required />
							<span class="error-message" ng-show="submitted && itemForm.LockoutEndDateUtc.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.LockoutEnabled.$invalid && !itemForm.LockoutEnabled.$pristine }">
					    <label  class="col-sm-3 control-label">LockoutEnabled<font color="#FF0000">*</font></label>
					    <div class="col-md-9">
							<input type="checkbox" ng-init="vm.user.LockoutEnabled=true" ng-model="vm.user.LockoutEnabled" />       
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.AccessFailedCount.$invalid && !itemForm.AccessFailedCount.$pristine }">
						<label for="name" class="col-sm-3  control-label">AccessFailedCount<font color="#FF0000">*</font></label>
						<div class="col-md-9">
							<input type="number" name="AccessFailedCount" class="form-control" data-ng-model="vm.user.AccessFailedCount" required />
							<span class="error-message" ng-show="submitted && itemForm.AccessFailedCount.$error.required"> This field is required</span>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.UserName.$invalid && !itemForm.UserName.$pristine }">
					    <label for="UserName" class="col-sm-3 control-label">UserName<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.user.UserName" class="form-control" name="name" placeholder="UserName" required>
							<span class="error-message" ng-show="submitted && itemForm.UserName.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.Discriminator.$invalid && !itemForm.Discriminator.$pristine }">
					    <label for="Discriminator" class="col-sm-3 control-label">Discriminator<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.user.Discriminator" class="form-control" name="name" placeholder="Discriminator" required>
							<span class="error-message" ng-show="submitted && itemForm.Discriminator.$error.required"> This field is required</span>
					    </div>
					</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
		<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveUser()">
			<i class="fa fa-save"></i> Save
		</button>
		<button onclick="window.location.href='#/users'" class="btn btn-default" title="User">Close</button>
		<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.user.Id)">
			<i class=" fa fa-times">
			</i> Delete
		</button>
		</div>
	</form>
</div>
