<section class="content-header" style="z-index:10000">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">Home</a></li>
		<li><a href="#/CustomerPassports">CustomerPassports</a></li>
		<li class="active">customerPassport</li>
	</ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
	        <div class="box-header">
			<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveCustomerPassport()">
				<i class="fa fa-save"></i> Save
			</button>
			<button onclick="window.location.href='#/customerPassports'" class="btn btn-default" title="CustomerPassport">Close</button>
			<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.customerPassport.Id)">
				<i class="fa fa-times">
				</i> Delete
			</button>
        </div>
		<div class="box-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Detail customerPassport
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-lg-12">
								<div class="row">
							<!-- [@FormControls] -->
					<div class="form-group" ng-class="{ 'has-error' : itemForm.CreatedBy.$invalid && !itemForm.CreatedBy.$pristine }">
					    <label for="CreatedBy" class="col-sm-3 control-label">CreatedBy<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.customerPassport.CreatedBy" class="form-control" name="name" placeholder="CreatedBy" required>
							<span class="error-message" ng-show="submitted && itemForm.CreatedBy.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.UpdatedBy.$invalid && !itemForm.UpdatedBy.$pristine }">
					    <label for="UpdatedBy" class="col-sm-3 control-label">UpdatedBy<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.customerPassport.UpdatedBy" class="form-control" name="name" placeholder="UpdatedBy" required>
							<span class="error-message" ng-show="submitted && itemForm.UpdatedBy.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.CreatedDate.$invalid && !itemForm.CreatedDate.$pristine }">
					   <label for="name" class="col-sm-3  control-label">CreatedDate<font color="#FF0000">*</font></label>
					   <div class="col-md-9">
					        <input type="date" name="CreatedDate"  class="form-control" placeholder="dd/MM/yyyy"  data-ng-model="vm.customerPassport.CreatedDate" required />
							<span class="error-message" ng-show="submitted && itemForm.CreatedDate.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.UpdatedDate.$invalid && !itemForm.UpdatedDate.$pristine }">
					   <label for="name" class="col-sm-3  control-label">UpdatedDate<font color="#FF0000">*</font></label>
					   <div class="col-md-9">
					        <input type="date" name="UpdatedDate"  class="form-control" placeholder="dd/MM/yyyy"  data-ng-model="vm.customerPassport.UpdatedDate" required />
							<span class="error-message" ng-show="submitted && itemForm.UpdatedDate.$error.required"> This field is required</span>
					    </div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : itemForm.Status.$invalid && !itemForm.Status.$pristine }">
					    <label  class="col-sm-3 control-label">Status<font color="#FF0000">*</font></label>
					    <div class="col-md-9">
							<input type="checkbox" ng-init="vm.customerPassport.Status=true" ng-model="vm.customerPassport.Status" />       
					    </div>
					</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
		<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveCustomerPassport()">
			<i class="fa fa-save"></i> Save
		</button>
		<button onclick="window.location.href='#/customerPassports'" class="btn btn-default" title="CustomerPassport">Close</button>
		<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.customerPassport.Id)">
			<i class=" fa fa-times">
			</i> Delete
		</button>
		</div>
	</form>
</div>
