<section class="content-header" style="z-index:10000">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">Home</a></li>
		<li><a href="#/UserRoles">UserRoles</a></li>
		<li class="active">userRole</li>
	</ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
	        <div class="box-header">
			<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveUserRole()">
				<i class="fa fa-save"></i> Save
			</button>
			<button onclick="window.location.href='#/userRoles'" class="btn btn-default" title="UserRole">Close</button>
			<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.userRole.Id)">
				<i class="fa fa-times">
				</i> Delete
			</button>
        </div>
		<div class="box-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Detail userRole
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-lg-12">
								<div class="row">
							<!-- [@FormControls] -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
		<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveUserRole()">
			<i class="fa fa-save"></i> Save
		</button>
		<button onclick="window.location.href='#/userRoles'" class="btn btn-default" title="UserRole">Close</button>
		<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.userRole.Id)">
			<i class=" fa fa-times">
			</i> Delete
		</button>
		</div>
	</form>
</div>
