﻿<section id="scroller">
    <section class="container visible-xs visible-sm visible-md visible-lg">
        <section class="row">
            <section class="col-md-12 visible-xs visible-sm visible-md visible-lg">
                <div class="module ">
                    <div class="mod-wrapper clearfix">
                        <div class="mod-content clearfix">
                            <div class="mod-inner clearfix">
                                <div class="zt_scroller">
                                    <div class="zt-carousel" id="zt_scroller143">


                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/img1.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>


                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga1.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga2.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga3.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga4.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga5.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga6.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga7.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>

                                        <div class="item">
                                            <a class="img" href="">
                                                <img class=" imgthuvien"
                                                     src="/images/imga8.jpg">
                                            </a><a class="title" href="">Broad Way</a>
                                        </div>



                                    </div>
                                </div>
                                <script type="text/javascript">
                                    jQuery(document).ready(function ($) {
                                        var owl = jQuery("#zt_scroller143");
                                        owl.owlCarousel({
                                            autoPlay: 5000,
                                            items: 5,
                                            navigation: true,
                                            pagination: true,
                                            slideSpeed: 500,
                                            baseClass: "zt-carousel",
                                            theme: "owl-scroller-theme"
                                        });
                                        jQuery("#zt_scroller143 .owl-pagination").append('<div class="new_owl_next"> <i class="fa-angle-right"></i> </div>');
                                        jQuery("#zt_scroller143 .owl-pagination").prepend('<div class="new_owl_prev"> <i class="fa-angle-left"></i> </div>');

                                        jQuery('.new_owl_next').click(function () {
                                            owl.data('owlCarousel').next();
                                        });

                                        jQuery('.new_owl_prev').click(function () {
                                            owl.data('owlCarousel').prev();
                                        });
                                    });

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
            </section>
        </section>
    </section>
</section>