﻿
<div class="modal-dialog">
    <div class="modal-header dialog-header-notify">
        <h4 class="modal-title text-info ng-binding"><span class="glyphicon glyphicon-info-sign"></span><strong> E-center</strong></h4>
    </div>
    <div class="modal-body text-info" compile="alertText">
        <!--{{alertText}}!-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="closeModal();">Close</button>
    </div>
</div>