﻿<div class="modal-smoov-custom" id="cropper-modal" data-backdrop="static" data-keyboard="false">
    <div>
        <div class="modal-content">
            <div class="modal-header product_image-modal_header">
                <h4>Tải ảnh</h4>
                <input type="file" value="Browser File" id="uploadImageWithCropping" onchange="angular.element(this).scope().uploadImageWithCropping()" ng-model="images" name="images" class="hidden" />
                <div class="error-message" ng-show="isErrorSize">Kích thước ảnh giới hạn trong 4 megabyte</div>
            </div>
            <div class="modal-body product_image-modal_body" ng-show="showToolsbox">
                <div id="cropper">
                    <img src="" id="image-cropper" class="img-responsive" />
                </div>
            </div>

            <div class="modal-footer modal-body product_image-modal_footer">
                <div class="form-group btn-group btn-group-justified" role="group" ng-show="showToolsbox">
                    <a class="btn btn-default product_image-modal_footer-btn-text2" role="button" ng-click='disableCrop()'>
                        Mặc định
                    </a>
                    <a class="btn btn-default product_image-modal_footer-btn-text2" role="button" ng-click='changeCropRatio(3 / 2)'>
                        <i class="fa fa-crop"></i> 3:2
                    </a>
                    <a class="btn btn-default product_image-modal_footer-btn-text2" role="button" ng-click='changeCropRatio(2 / 3)'>
                        <i class="fa fa-crop"></i> 2:3
                    </a>
                    <a class="btn btn-default product_image-modal_footer-btn-text2" role="button" ng-click='changeCropRatio(1 / 1)'>
                        <i class="fa fa-crop"></i> 1:1
                    </a>
                    <a class="btn btn-default product_image-modal_footer-btn-text2" role="button" ng-click='rotateImage(-45)'>
                        <span class="fa fa-rotate-left"></span>
                    </a>
                    <a class="btn btn-default product_image-modal_footer-btn-text2" role="button" ng-click='rotateImage(45)'>
                        <span class="fa fa-rotate-right"></span>
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-primary btn-block product_image-modal_footer-btn-text1" id="" role="button" ng-hide="isErrorLimit" onclick="$('#uploadImageWithCropping').click();">Chọn ảnh</a>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-primary btn-block product_image-modal_footer-btn-text1" role="button" id="btnCropImage" ng-click="saveCroppedImage()" ng-show="showToolsbox">Tải</a>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-default btn-block product_image-modal_footer-btn-text2" role="button" ng-click="cancel()">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
