<section class="content-header" style="z-index:10000">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">Home</a></li>
		<li><a href="#/Roles">Roles</a></li>
		<li class="active">role</li>
	</ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
	        <div class="box-header">
			<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveRole()">
				<i class="fa fa-save"></i> Save
			</button>
			<button onclick="window.location.href='#/roles'" class="btn btn-default" title="Role">Close</button>
			<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.role.Id)">
				<i class="fa fa-times">
				</i> Delete
			</button>
        </div>
		<div class="box-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Detail role
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-lg-12">
								<div class="row">
							<!-- [@FormControls] -->
					<div class="form-group" ng-class="{ 'has-error' : itemForm.Name.$invalid && !itemForm.Name.$pristine }">
					    <label for="Name" class="col-sm-3 control-label">Name<font color="#FF0000">*</font></label>
					    <div class="col-sm-9">
					        <input type="text" ng-model="vm.role.Name" class="form-control" name="name" placeholder="Name" required>
							<span class="error-message" ng-show="submitted && itemForm.Name.$error.required"> This field is required</span>
					    </div>
					</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
		<button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveRole()">
			<i class="fa fa-save"></i> Save
		</button>
		<button onclick="window.location.href='#/roles'" class="btn btn-default" title="Role">Close</button>
		<button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.role.Id)">
			<i class=" fa fa-times">
			</i> Delete
		</button>
		</div>
	</form>
</div>
