﻿@{
    Layout = null;
}

<!DOCTYPE html>
@model Ce.Web.Controllers.AdminBrowseImageViewModel
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" type="text/css" rel="stylesheet">
    <title>BrowseImage</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("a").click(function () {
                window.opener.CKEDITOR.tools.callFunction(@Model.CKEditorFuncNum , $(this).html().trim());
            });
        });
    </script>
</head>
<body>
    <div>
        @if (Model.ImagePaths != null)
        {
            foreach (var vPath in Model.ImagePaths)
            {
                <div style="float: left; width: 100%; display: block; padding: 10px;">
                    <div>
                        <div>
                            <a href="javascript: return false;">@vPath</a>
                        </div>
                        <div style="display: inline;">
                            <img style="height: 40px; padding: 10px;" src="@vPath" />
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</body>
</html>
