﻿<script type="text/ng-template" id="tree-grid-template.html">
    <div>
        <table class="table table-bordered table-striped tree-grid">
            <thead class="text-primary">
                <tr>
                    <th>{{expandOn}}</th>
                    <th ng-repeat="col in colDefs">{{col.displayName || col.field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="tree-grid-row">
                    <td class="text-primary"><a ng-click="user_clicks_branch(row.branch)"><i ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="indented tree-icon"></i></a><span class="indented tree-label">{{row.branch[expandOn]}}</span></td>
                    <td ng-repeat="col in colDefs">{{row.branch[col.field]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>