#colorbox {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxOverlay {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxWrapper {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxWrapper {
	max-width: none;
}
#cboxOverlay {
	width: 100%; height: 100%; position: fixed;
}
#cboxMiddleLeft {
	clear: left;
}
#cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto; -webkit-overflow-scrolling: touch;
}
#cboxTitle {
	margin: 0px;
}
#cboxLoadingOverlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#cboxLoadingGraphic {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#cboxPrevious {
	cursor: pointer;
}
#cboxNext {
	cursor: pointer;
}
#cboxClose {
	cursor: pointer;
}
#cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	margin: auto; border: 0px currentColor; border-image: none; float: left; display: block; -ms-interpolation-mode: bicubic; max-width: none;
}
.cboxIframe {
	border: 0px currentColor; border-image: none; width: 100%; height: 100%; display: block;
}
#colorbox {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#cboxContent {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#cboxLoadedContent {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#cboxOverlay {
	background: url("../images/overlay.png") 0px 0px;
}
#colorbox {
	outline: 0px;
}
#cboxTopLeft {
	background: url("../images/controls.png") no-repeat -101px 0px; width: 21px; height: 21px;
}
#cboxTopRight {
	background: url("../images/controls.png") no-repeat -130px 0px; width: 21px; height: 21px;
}
#cboxBottomLeft {
	background: url("../images/controls.png") no-repeat -101px -29px; width: 21px; height: 21px;
}
#cboxBottomRight {
	background: url("../images/controls.png") no-repeat -130px -29px; width: 21px; height: 21px;
}
#cboxMiddleLeft {
	background: url("../images/controls.png") repeat-y left top; width: 21px;
}
#cboxMiddleRight {
	background: url("../images/controls.png") repeat-y right top; width: 21px;
}
#cboxTopCenter {
	background: url("../images/border.png") repeat-x 0px 0px; height: 21px;
}
#cboxBottomCenter {
	background: url("../images/border.png") repeat-x 0px -29px; height: 21px;
}
#cboxContent {
	background: rgb(255, 255, 255); overflow: hidden;
}
.cboxIframe {
	background: rgb(255, 255, 255);
}
#cboxError {
	padding: 50px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#cboxLoadedContent {
	margin-bottom: 28px;
}
#cboxTitle {
	left: 0px; width: 100%; text-align: center; bottom: 4px; color: rgb(148, 148, 148); position: absolute;
}
#cboxCurrent {
	left: 58px; bottom: 4px; color: rgb(148, 148, 148); position: absolute;
}
#cboxLoadingOverlay {
	background: url("../images/loading_background.png") no-repeat center;
}
#cboxLoadingGraphic {
	background: url("../images/loading.gif") no-repeat center;
}
#cboxPrevious {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxNext {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxSlideshow {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxClose {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxPrevious:active {
	outline: 0px;
}
#cboxNext:active {
	outline: 0px;
}
#cboxSlideshow:active {
	outline: 0px;
}
#cboxClose:active {
	outline: 0px;
}
#cboxSlideshow {
	right: 30px; bottom: 4px; color: rgb(0, 146, 239); position: absolute;
}
#cboxPrevious {
	background: url("../images/controls.png") no-repeat -75px 0px; left: 0px; width: 25px; height: 25px; bottom: 0px; text-indent: -9999px; position: absolute;
}
#cboxPrevious:hover {
	background-position: -75px -25px;
}
#cboxNext {
	background: url("../images/controls.png") no-repeat -50px 0px; left: 27px; width: 25px; height: 25px; bottom: 0px; text-indent: -9999px; position: absolute;
}
#cboxNext:hover {
	background-position: -50px -25px;
}
#cboxClose {
	background: url("../images/controls.png") no-repeat -25px 0px; width: 25px; height: 25px; right: 0px; bottom: 0px; text-indent: -9999px; position: absolute;
}
#cboxClose:hover {
	background-position: -25px -25px;
}
.cboxIE #cboxTopLeft {
	
}
.cboxIE #cboxTopCenter {
	
}
.cboxIE #cboxTopRight {
	
}
.cboxIE #cboxBottomLeft {
	
}
.cboxIE #cboxBottomCenter {
	
}
.cboxIE #cboxBottomRight {
	
}
.cboxIE #cboxMiddleLeft {
	
}
.cboxIE #cboxMiddleRight {
	
}
