.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
nav.zo2-menu { font-weight: bold;
	background: none; margin: 0px; border-radius: 0px; border: currentColor; border-image: none; color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; min-height: inherit;
}
nav.zo2-menu .dropdown-menu {
	font-size: 100%;
}
nav.zo2-menu div.module-inner {
	margin: 10px 0px 0px;
}
nav.zo2-menu div.k2ModuleBoxItem {
	line-height: 140%; font-family: arial;
}
nav.zo2-menu div.k2ModuleBoxItem .moduleItemImage {
	margin: 0px 0px 10px; display: block;
}
nav.zo2-menu div.k2ModuleBoxItem .moduleitemText {
	margin: 5px 0px 0px; display: block;
}
nav.zo2-menu a {
	color: rgb(194, 194, 194);
}
nav.zo2-menu a:hover {
	color: rgb(255, 255, 255);
}
nav.zo2-menu div.navbar-collapse {
	background: rgb(255, 255, 255); padding: 0px;
}
nav.zo2-menu .navbar-nav > li > a {
	padding: 0px 15px; color: rgb(38, 38, 38); text-transform: uppercase; line-height: 40px; font-size: 120%; border-right-color: rgb(212, 215, 219) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
nav.zo2-menu .navbar-nav > li > a .caret {
	display: none !important;
}
nav.zo2-menu .navbar-nav > li.last-menu > a {
	border: currentColor; border-image: none;
}
nav.zo2-menu .navbar-nav > li.home a {
	width: 52px; height: 40px; text-align: center; line-height: 40px;  overflow: hidden;
}
nav.zo2-menu .navbar-nav > li.home a::before {
	text-align: center; line-height: 40px; text-indent: 0px; font-family: FontAwesome; font-size: 120%; display: block;
}
nav.zo2-menu .navbar-nav > li:hover > a {
	animation:moveFromBottom 500ms; -webkit-animation: moveFromBottom 500ms ease; -moz-animation: moveFromBottom 500ms ease;
}
nav.zo2-menu .navbar-nav ul.mega-nav li {
	line-height: 25px;
}
nav.zo2-menu .navbar-nav ul.mega-nav li.active > a {
	background: rgb(49, 50, 54); padding: 5px 0px 5px 8px; color: rgb(255, 255, 255); font-weight: bold;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a {
	background: none; padding: 5px 0px; transition:0.3s linear; color: rgb(194, 194, 194); font-family: arial; font-weight: 300; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a:hover {
	background: #0c2f7f; padding: 5px 0px 5px 8px; color: rgb(255, 255, 255); font-weight: bold;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a:active {
	background: rgb(49, 50, 54); padding: 5px 0px 5px 8px; color: rgb(255, 255, 255); font-weight: bold;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a:focus {
	background: rgb(49, 50, 54); padding: 5px 0px 5px 8px; color: rgb(255, 255, 255); font-weight: bold;
}
nav.zo2-menu .navbar-nav ul.mega-nav li.active a {
	color: rgb(255, 255, 255);
}
.zo2-megamenu .mega-inner {
	padding: 10px 0px;
}
.zo2-megamenu .mega-inner::before {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-inner::after {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-inner::after {
	clear: both;
}
.zo2-megamenu .mega-inner .mega-inner {
	padding: 0px 10px;
}
.zo2-megamenu .row + .row {
	padding-top: 10px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.zo2-megamenu .mega > .mega-dropdown-menu {
	background: none; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; display: none; min-width: 200px; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner {
	background: #375aa8; margin: 0px; padding: 0px 10px;
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner .module .module-title {
	margin: 0px 0px 17px; text-transform: uppercase; font-size: 150%; font-weight: 400;
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner .module ul {
	margin: 0px 0px 0px 15px;
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner .module ul li a {
	padding: 10px 0px; color: rgb(194, 194, 194); display: block;
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner .module ul li a:hover {
	color: rgb(255, 255, 255);
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner .module ul li a:active {
	color: rgb(255, 255, 255);
}
.zo2-megamenu .mega > .mega-dropdown-menu > .mega-dropdown-inner .module ul li a:focus {
	color: rgb(255, 255, 255);
}
.zo2-megamenu .open.mega > .mega-dropdown-menu {
	display: block;
}
.zo2-megamenu .dropdown-submenu.mega:hover > .mega-dropdown-menu {
	display: block;
}
.zo2-megamenu .open.mega > .mega-dropdown-menu .mega-dropdown-menu {
	left: 100%;
}
.zo2-megamenu .dropdown-submenu.mega:hover > .mega-dropdown-menu .mega-dropdown-menu {
	left: 100%;
}
.zo2-megamenu .mega-group {
	
}
.zo2-megamenu .mega-group::before {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-group::after {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-group::after {
	clear: both;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title {
	background: inherit; margin: 0px; padding: 0px; color: inherit; font-weight: bold;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title {
	background: inherit; margin: 0px; padding: 0px; color: inherit; font-weight: bold;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
	background: inherit; margin: 0px; padding: 0px; color: inherit; font-weight: bold;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title:hover {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover {
	background: inherit; color: inherit;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title:active {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:active {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:active {
	background: inherit; color: inherit;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title:focus {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
	background: inherit; color: inherit;
}
.zo2-megamenu .mega-group-content {
	margin: 0px; padding: 0px;
}
.zo2-megamenu .mega-group-content::before {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-group-content::after {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-group-content::after {
	clear: both;
}
.zo2-megamenu .mega-group-content > .row > [class*='col-md'] > .mega-inner {
	padding: 0px;
}
.zo2-megamenu .mega-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.zo2-megamenu .dropdown-menu .mega-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.zo2-megamenu .mega-nav > li {
	list-style: none; margin-left: 0px;
}
.zo2-megamenu .dropdown-menu .mega-nav > li {
	list-style: none; margin-left: 0px;
}
.zo2-megamenu .mega-nav > li.open .group-title {
	background: rgb(49, 50, 54);
}
.zo2-megamenu .dropdown-menu .mega-nav > li.open .group-title {
	background: rgb(49, 50, 54);
}
.zo2-megamenu .mega-nav > li a {
	color: rgb(194, 194, 194); font-size: 110%; border-bottom-color: rgb(57, 58, 62); border-bottom-width: 1px; border-bottom-style: solid; white-space: normal;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a {
	color: rgb(194, 194, 194); font-size: 110%; border-bottom-color: #30509c; border-bottom-width: 1px; border-bottom-style: solid; white-space: normal;
}
.zo2-megamenu .mega-nav > li a.group-title {
	padding: 5px 10px !important; border: currentColor; border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-family: Oswald; font-size: 150%; font-weight: 400 !important;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a.group-title {
	padding: 5px 10px !important; border: currentColor; border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-family: Arial, Helvetica, sans-serif ; font-size: 150%; font-weight: 400 !important;
}
.zo2-megamenu .mega-nav > li a.group-title:hover {
	font-weight: 400;
}
.zo2-megamenu .mega-nav > li a.active.group-title {
	font-weight: 400;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a.group-title:hover {
	font-weight: 400;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a.active.group-title {
	font-weight: 400;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a::before {
	left: 0px; text-align: center; position: absolute;
}
.zo2-megamenu .mega-group > .mega-nav {
	margin-right: -5px; margin-left: -5px;
}
.zo2-megamenu .dropdown-menu .mega-group > .mega-nav {
	margin-right: -5px; margin-left: -5px;
}
.zo2-megamenu .mega-nav .dropdown-submenu > a::after {
	margin-right: 5px;
}
.zo2-megamenu .zo2-module {
	margin-bottom: 10px;
}
.zo2-megamenu .zo2-module .module-title {
	margin-bottom: 0px;
}
.zo2-megamenu .zo2-module .module-ct {
	margin: 0px; padding: 0px;
}
.zo2-megamenu .zo2-module .module-ct ul {
	list-style: square;
}
.zo2-megamenu .mega-align-left > .dropdown-menu {
	left: 0px;
}
.zo2-megamenu .mega-align-right > .dropdown-menu {
	left: auto; right: 0px;
}
.zo2-megamenu .mega-align-center > .dropdown-menu {
	left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
}
.zo2-megamenu .mega-align-left.dropdown-submenu > .dropdown-menu {
	left: 100%;
}
.zo2-megamenu .mega-align-right.dropdown-submenu > .dropdown-menu {
	left: auto; right: 100%;
}
.zo2-megamenu .mega-align-justify {
	position: static;
}
.zo2-megamenu .mega-align-justify > .dropdown-menu {
	left: 0px; top: auto; margin-left: 0px;
}
.zo2-megamenu .mega-caption {
	display: block; white-space: nowrap;
}
.zo2-megamenu .nav .caret {
	display: none;
}
.zo2-megamenu .dropdown-submenu .caret {
	display: none;
}
.zo2-megamenu .mega-menu .caret {
	display: none;
}
.zo2-megamenu .nav > .dropdown > .dropdown-toggle .caret {
	display: inline-block;
}
.zo2-megamenu .nav [class^='icon-'] {
	margin-right: 5px;
}
.zo2-megamenu .nav [class*=' icon-'] {
	margin-right: 5px;
}
.zo2-megamenu .dropdown-submenu.mega:hover > .mega-dropdown-menu {
	left: 100%; top: 0px;
}
@media all and (min-width:768px)
{
.animate.zo2-megamenu .mega > .mega-dropdown-menu {
	transition:400ms; opacity: 0; backface-visibility: hidden; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}
.animate.zo2-megamenu .hovering.mega > .mega-dropdown-menu {
	display: block !important;
}
.animate.zo2-megamenu .open.mega > .mega-dropdown-menu {
	opacity: 1;
}
.animate.zo2-megamenu .open.hovering.mega > .mega-dropdown-menu {
	opacity: 1;
}
.zoom.animate.zo2-megamenu .mega > .mega-dropdown-menu {
	transform-origin: 20% 20%; transform: scale(0); -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -webkit-transform-origin: 20% 20%; -o-transform-origin: 20% 20%;
}
.zoom.animate.zo2-megamenu .open.mega > .mega-dropdown-menu {
	transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1);
}
.elastic.animate.zo2-megamenu .level0 > .mega > .mega-dropdown-menu {
	transform: scale(1, 0); -webkit-transform: scale(1, 0); -o-transform: scale(1, 0);
}
.elastic.animate.zo2-megamenu .mega > .mega-dropdown-menu {
	transform-origin: 10% 0%; transform: scale(0, 1); -webkit-transform: scale(0, 1); -o-transform: scale(0, 1); -webkit-transform-origin: 10% 0; -o-transform-origin: 10% 0;
}
.elastic.animate.zo2-megamenu .open.mega > .mega-dropdown-menu {
	transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1);
}
.slide.animate.zo2-megamenu .hovering.mega > .mega-dropdown-menu {
	overflow: hidden;
}
.slide.animate.zo2-megamenu .mega > .mega-dropdown-menu > div {
	transition:400ms; margin-top: -100%; backface-visibility: hidden; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}
.slide.animate.zo2-megamenu .open.mega > .mega-dropdown-menu > div {
	margin-top: 50px;
}
.slide.animate.zo2-megamenu .mega .mega > .mega-dropdown-menu {
	min-width: 0px;
}
.slide.animate.zo2-megamenu .mega .mega > .mega-dropdown-menu > div {
	margin-top: 0px; margin-left: -500px; min-width: 200px;
}
.slide.animate.zo2-megamenu .mega .open.mega > .mega-dropdown-menu > div {
	margin-left: 0px;
}
}
@media all and (max-width:767px)
{
.zo2-megamenu .mega-inner {
	padding: 10px 20px;
}
.zo2-megamenu .row-fluid {
	left: 0px !important; width: 100% !important; margin-left: 0px !important; min-width: 100% !important; transform: none !important; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.zo2-megamenu .mega-dropdown-menu {
	left: 0px !important; width: 100% !important; margin-left: 0px !important; min-width: 100% !important; transform: none !important; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.zo2-megamenu .row-fluid [class*='span'] {
	left: 0px !important; width: 100% !important; margin-left: 0px !important; min-width: 100% !important; transform: none !important; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.zo2-megamenu .row-fluid + .row-fluid {
	padding-top: 10px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.zo2-megamenu .hidden-collapse {
	display: none !important;
}
.zo2-megamenu .always-show .caret {
	display: none !important;
}
.zo2-megamenu .sub-hidden-collapse > .nav-child {
	display: none !important;
}
.zo2-megamenu .sub-hidden-collapse .caret {
	display: none !important;
}
.zo2-megamenu .sub-hidden-collapse > a::after {
	display: none !important;
}
.zo2-megamenu .always-show .dropdown-submenu > a::after {
	display: none !important;
}
.zo2-megamenu .mega-caption {
	display: none !important;
}
}
@media all and (max-width:767px)
{
.zo2-megamenu .mega-inner {
	padding: 10px 20px;
}
.zo2-megamenu .row-fluid + .row-fluid {
	border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid;
}
.zo2-megamenu .mega-col-nav.span12 .mega-inner {
	padding: 0px;
}
.zo2-megamenu .zo2-module {
	margin-bottom: 0px;
}
.zo2-megamenu .mega-nav > li a {
	padding: 5px 20px;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a {
	padding: 5px 20px;
}
}
@media screen and (max-width:767px)
{
html {
	width: 100%; position: relative; -ms-overflow-x: hidden;
}
.offcanvas {
	background: 0px 0px rgb(70, 81, 88); transition:transform 0.5s; left: -50%; top: 0px; width: 49%; height: 100%; display: none; position: absolute;
}
.offcanvas .sidebar-close {
	padding: 13px; top: 0px; right: 0px; color: rgb(255, 255, 255); font-size: 130%; float: right; display: block; position: relative; z-index: 999;
}
.offcanvas .sidebar-close:hover {
	color: rgb(255, 92, 3); text-decoration: none;
}
.active.offcanvas {
	left: 0px;
}
.wrapper {
	transition:transform 0.5s; transform: translate3d(0px, 0px, 0px); -webkit-transition: transform 0.5s ease 0s; -webkit-transform: translate3d(0, 0, 0); -moz-transition: transform 0.5s ease 0s; -o-transition: transform 0.5s ease 0s;
}
.wrapper::after {
	background: 0px 0px rgba(0, 0, 0, 0.2); transition:opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; top: 0px; width: 0px; height: 0px; right: 0px; position: absolute; content: ""; opacity: 0; -webkit-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; -moz-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; -o-transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;
}
.offcanvas-push.wrapper {
	transition:transform 0.5s; top: 0px; right: 0px; bottom: 0px; overflow: hidden; position: relative; transform: translate3d(250px, 0px, 0px); -webkit-transition: transform 0.5s ease 0s; -webkit-transform: translate3d(250px, 0, 0); -moz-transition: transform 0.5s ease 0s; -o-transition: transform 0.5s ease 0s;
}
.offcanvas-push.wrapper::after {
	transition:transform 0.5s; width: 100%; height: 100%; opacity: 1; -webkit-transition: transform 0.5s ease 0s; -moz-transition: transform 0.5s ease 0s; -o-transition: transform 0.5s ease 0s;
}
body.overflow-hidden {
	width: 100%; -ms-overflow-x: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box;
}
.offcanvas-overlay {
	background: rgb(70, 81, 88); transition:transform 0.5s; position: fixed; z-index: 9999; cursor: pointer; opacity: 0.5; transform: translate3d(0px, 0px, 0px); -webkit-transition: transform 0.5s ease 0s; -webkit-transform: translate3d(0, 0, 0); -moz-transition: transform 0.5s ease 0s; -o-transition: transform 0.5s ease 0s;
}
.offcanvas {
	margin: 0px; left: 0px; top: 0px; width: 250px; position: absolute; transform: translateX(-250px); -webkit-transform: translateX(-250px); -moz-transform: translateX(-250px); -o-transform: translateX(-250px);
}
.offcanvas .sidebar-nav {
	margin: 0px; left: 0px; top: 0px; width: 250px; position: absolute;
}
.offcanvas .sidebar-nav ul li a {
	padding: 5px 10px; transition:color 0.3s ease-in-out; color: rgba(255, 255, 255, 0.5); text-decoration: none; border-bottom-color: rgba(0, 0, 0, 0.1); border-bottom-width: 1px; border-bottom-style: solid; display: block; -webkit-transition: color 0.3s ease-in-out 0s; -moz-transition: color 0.3s ease-in-out 0s; -o-transition: color 0.3s ease-in-out 0s;
}
.offcanvas .sidebar-nav ul.nav-sub {
	background: 0px 0px rgb(82, 94, 102);
}
.offcanvas .sidebar-nav ul li.nav-active > a {
	background: 0px 0px rgb(49, 50, 54); color: rgb(255, 255, 255); font-weight: bold; border-bottom-color: rgba(0, 0, 0, 0.2); border-bottom-width: 1px; border-bottom-style: solid;
}
.active.offcanvas {
	transition:transform 0.5s; transform: translateX(0px); -webkit-transition: transform 0.5s; -webkit-transform: translateX(0); -moz-transition: transform 0.5s; -o-transition: transform 0.5s; -moz-transform: translateX(0); -o-transform: translateX(0);
}
.active.offcanvas .sidebar-nav {
	transition:transform 0.5s; transform: translateX(0px); -webkit-transition: transform 0.5s; -webkit-transform: translateX(0); -moz-transition: transform 0.5s; -o-transition: transform 0.5s; -moz-transform: translateX(0); -o-transform: translateX(0);
}
body > * {
	transition:transform 500ms; left: 0px; transform: translateX(0px); backface-visibility: hidden; -webkit-transition: -webkit-transform 500ms ease; -webkit-transform: translateX(0); -moz-transition: -moz-transform 500ms ease; -o-transition: -o-transform 500ms ease; -moz-transform: translateX(0); -o-transform: translateX(0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden;
}
body.overflow-hidden > * {
	transform: translateX(250px); -webkit-transform: translateX(250px); -moz-transform: translateX(250px); -o-transform: translateX(250px);
}
.nav-parent {
	position: relative;
}
.nav-parent > .nav-oc-toggle {
	border: currentColor !important; border-image: none !important; top: 4px; height: 8px; right: 5px; font-size: 18px; position: absolute;
}
}
.icon-caret-down::before {
	content: "\f0d7";
}
.icon-caret-up::before {
	content: "\f0d8";
}
.icon-caret-up::before {
	font-family: FontAwesome;
}
.icon-caret-down::before {
	font-family: FontAwesome;
}
.rtl nav.zo2-menu .navbar-nav ul.mega-nav li a:hover {
	padding: 5px 8px 5px 0px;
}
.rtl nav.zo2-menu .navbar-nav ul.mega-nav li a:active {
	padding: 5px 8px 5px 0px;
}
.rtl nav.zo2-menu .navbar-nav ul.mega-nav li a:focus {
	padding: 5px 8px 5px 0px;
}
.rtl nav.zo2-menu .navbar-nav ul.mega-nav li.active > a {
	padding: 5px 8px 5px 0px;
}
.rtl .zo2-megamenu .mega > .mega-dropdown-menu .mega-dropdown-menu {
	right: 90%;
}
.rtl .offcanvas {
	direction: ltr;
}

.mapading{
	margin-bottom: 5px !important;
}

.leftslider{
	left:10px !important;
}

.backnewss{
	 background: url(../images/new.png) no-repeat 240px 0 !important;
}