.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media all and (max-width:1280px)
{
.zo2-socialshares-floatbar {
	margin-left: -70px;
}
.rtl .zo2-socialshares-floatbar {
	margin: 0px -65px 0px 0px;
}
}
@media all and (max-width:1080px)
{
#zo2-tab {
	display: none !important;
}
#slideshow {
	width: 100%;
}
.zo2-socialshares-floatbar {
	margin-left: -70px;
}
nav.zo2-menu .navbar-nav > li > a {
	padding: 0px 10px;
}
.rtl .zo2-socialshares-floatbar {
	margin: 0px -63px 0px 0px;
}
}
@media all and (max-width:1024px)
{
div.rev_slider_wrapper div.tparrows {
	display: none !important;
}
nav.zo2-menu .navbar-nav > li > a {
	padding: 0px 11px;
}
div.zo2-tab-inner ul.nav-tabs li a {
	padding: 0px 5px; font-size: 120%;
}
div.nspArts .nspArtPage div.nspArt h4.nspHeader {
	width: 94%;
}
.cform-item3 {
	margin: 0px 0px 5px; width: 80%;
}
.cform-item {
	margin: 0px 0px 5px; width: 80%;
}
div.newsItemsContainer .news_items .info {
	width: 65%;
}
.lightbox-modal {
	margin: 0px 2% 0px 0px; width: 30%; float: left; display: block;
}
.lightbox-modal img {
	max-width: 100%;
}
div.zt_scroller div.item a.title {
	padding: 20px 0px 0px; font-size: 200%;
}
.zo2-socialshares-floatbar {
	display: none;
}
.rtl .zo2-socialshares-floatbar {
	display: none;
}
}
@media all and (max-width:800px)
{
nav.zo2-menu .navbar-nav > li > a {
	padding: 0px 8px; font-size: 100%;
}
div.nspArts .nspArtPage {
	padding: 0px;
}
}
@media all and (max-width:768px)
{
div.search {
	display: none;
}
nav.zo2-menu .navbar-nav > li > a {
	padding: 0px 8px; font-size: 100%;
}
div.nspArts .nspArtPage div.nspArt h4.nspHeader {
	padding: 2px 5px; width: 91%; font-size: 85%;
}
#bottom div.mod-wrapper {
	margin: 0px 0px 8px;
}
ul.footer-menu {
	text-align: center; float: none;
}
.lag > .mega-dropdown-menu {
	width: 500px !important;
}
div.breadcrumbs a {
	padding: 0px 15px;
}
}
@media all and (max-width:640px)
{
.top-menu ul.menu li a {
	padding: 0px 15px;
}
.zo2-menu > div.navbar-header {
	background: rgb(255, 255, 255);
}
.zo2-menu > div.navbar-header .navbar-toggle {
	margin: 5px 0px 5px 13px; border-radius: 0px; border: 1px solid rgb(255, 92, 3); border-image: none; float: left;
}
.zo2-menu > div.navbar-header .navbar-toggle:hover {
	background: rgb(255, 255, 255);
}
.zo2-menu > div.navbar-header .active.navbar-toggle {
	background: rgb(255, 255, 255);
}
.zo2-menu > div.navbar-header .navbar-toggle:hover > span {
	background: rgb(255, 92, 3) !important;
}
.zo2-menu > div.navbar-header .active.navbar-toggle > span {
	background: rgb(255, 92, 3) !important;
}
#header_logo {
	margin: 0px 0px 10px;
}
#header_logo .logo_normal {
	margin: 0px !important;
}
#zo2-header div.banneritem {
	text-align: inherit;
}
#zo2-header div.banneritem img {
	margin: 0px;
}
#menu {
	margin: 0px;
}
div.latestView div.col-xs-6.latestItemsContainer {
	margin: 0px 0px 10px; width: 100%;
}
span.latestItemImage {
	text-align: inherit;
}
#user-header > .container {
	padding-right: 15px; padding-left: 15px;
}
#mainframe > .container {
	padding-right: 15px; padding-left: 15px;
}
#scroller > .container {
	padding-right: 15px; padding-left: 15px;
}
#user-bottom > .container {
	padding-right: 15px; padding-left: 15px;
}
#breadcrumb > .container {
	padding-right: 15px; padding-left: 15px;
}
#menu-news > .container {
	padding-right: 15px; padding-left: 15px;
}
#bottom > .container {
	padding-right: 15px; padding-left: 15px;
}
#zo2-footer > .container {
	padding-right: 15px; padding-left: 15px;
}
#zo2-header-top > .container {
	padding-right: 15px; padding-left: 15px;
}
#lastest-new {
	display: none !important;
}
}
@media all and (max-width:480px)
{
#gototop {
	display: none !important;
}
#top-language {
	display: none !important;
}
#top-social {
	width: 40%;
}
#top-menu {
	width: 60%;
}
.bread-menu ul.menu li a {
	padding: 0px 10px;
}
div.breadcrumbs span {
	padding: 0px 5px;
}
div.latestItemList > div {
	width: 100% !important;
}
}
@media all and (max-width:360px)
{
#top-social {
	width: 100%;
}
#top-menu {
	width: 100%;
}
#zo2-header-top #top-social div.module {
	margin: 5px 0px 0px; float: left;
}
#menu-news {
	line-height: 30px;
}
.bread-menu ul.menu li a {
	padding: 0px 4px;
}
.bread-menu ul.menu li.first a {
	padding: 0px 4px;
}
div.itemImage {
	margin: 0px; float: none;
}
div.iheader {
	height: auto; text-align: inherit; clear: both;
}
div.iheader > span {
	margin: 0px !important; padding: 0px !important; width: 100%; float: none !important; display: block;
}
div.iheader > div {
	margin: 0px !important; padding: 0px !important; width: 100%; float: none !important; display: block;
}
div.userItemIntroText > a {
	margin: 0px 0px 10px; display: block;
}
div.userItemIntroText > a img {
	margin: 0px; float: none;
}
a.catItemImage {
	margin: 0px 0px 10px; float: none; display: block;
}
.lightbox-modal {
	width: 100%; text-align: center;
}
.lightbox-modal img {
	float: none !important;
}
.pricing_wrap_3 .pricing_box {
	width: 100%;
}
div.news_lead > div {
	width: 100%;
}
div.zt-newsiv-frame-cat > div {
	margin: 0px 0px 10px !important; width: 100% !important;
}
.rtl #zo2-header-top #top-social div.module {
	float: right;
}
.rtl a.catItemImage {
	margin: 0px 0px 10px; float: none;
}
}
@media all and (max-width:320px)
{
#menu-news {
	line-height: 30px;
}
.bread-menu ul.menu li {
	line-height: 30px;
}
div.newsItemsContainer .news_items .latestItemList {
	padding: 5px;
}
span.latestItemImage img {
	width: 100% !important;
}
.latestItemList > div {
	width: 100%;
}
div.newsItemsContainer .news_items .info {
	width: 100%; float: none;
}
div.newsItemsContainer .newsItemDateCreated {
	float: none !important; display: block;
}
div.newsItemsContainer .news-item-link {
	float: none !important; display: block;
}
}
