
[class^='revicon-']::before {
	width: 1em; text-align: center; text-transform: none; line-height: 1em; font-family: "revicons"; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: inherit; margin-right: 0.2em; margin-left: 0.2em; display: inline-block; speak: none;
}
[class*=' revicon-']::before {
	width: 1em; text-align: center; text-transform: none; line-height: 1em; font-family: "revicons"; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: inherit; margin-right: 0.2em; margin-left: 0.2em; display: inline-block; speak: none;
}
.revicon-search-1::before {
	content: "\e802";
}
.revicon-pencil-1::before {
	content: "\e831";
}
.revicon-picture-1::before {
	content: "\e803";
}
.revicon-cancel::before {
	content: "\e80a";
}
.revicon-info-circled::before {
	content: "\e80f";
}
.revicon-trash::before {
	content: "\e801";
}
.revicon-left-dir::before {
	content: "\e817";
}
.revicon-right-dir::before {
	content: "\e818";
}
.revicon-down-open::before {
	content: "\e83b";
}
.revicon-left-open::before {
	content: "\e819";
}
.revicon-right-open::before {
	content: "\e81a";
}
.revicon-angle-left::before {
	content: "\e820";
}
.revicon-angle-right::before {
	content: "\e81d";
}
.revicon-left-big::before {
	content: "\e81f";
}
.revicon-right-big::before {
	content: "\e81e";
}
.revicon-magic::before {
	content: "\e807";
}
.revicon-picture::before {
	content: "\e800";
}
.revicon-export::before {
	content: "\e80b";
}
.revicon-cog::before {
	content: "\e832";
}
.revicon-login::before {
	content: "\e833";
}
.revicon-logout::before {
	content: "\e834";
}
.revicon-video::before {
	content: "\e805";
}
.revicon-arrow-combo::before {
	content: "\e827";
}
.revicon-left-open-1::before {
	content: "\e82a";
}
.revicon-right-open-1::before {
	content: "\e82b";
}
.revicon-left-open-mini::before {
	content: "\e822";
}
.revicon-right-open-mini::before {
	content: "\e823";
}
.revicon-left-open-big::before {
	content: "\e824";
}
.revicon-right-open-big::before {
	content: "\e825";
}
.revicon-left::before {
	content: "\e836";
}
.revicon-right::before {
	content: "\e826";
}
.revicon-ccw::before {
	content: "\e808";
}
.revicon-arrows-ccw::before {
	content: "\e806";
}
.revicon-palette::before {
	content: "\e829";
}
.revicon-list-add::before {
	content: "\e80c";
}
.revicon-doc::before {
	content: "\e809";
}
.revicon-left-open-outline::before {
	content: "\e82e";
}
.revicon-left-open-2::before {
	content: "\e82c";
}
.revicon-right-open-outline::before {
	content: "\e82f";
}
.revicon-right-open-2::before {
	content: "\e82d";
}
.revicon-equalizer::before {
	content: "\e83a";
}
.revicon-layers-alt::before {
	content: "\e804";
}
.revicon-popup::before {
	content: "\e828";
}
.tp-caption .frontcorner {
	left: -40px; top: 0px; width: 0px; height: 0px; border-top-color: rgb(0, 168, 255); border-right-color: transparent; border-left-color: transparent; border-top-width: 40px; border-right-width: 0px; border-left-width: 40px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute;
}
.tp-caption .backcorner {
	top: 0px; width: 0px; height: 0px; right: 0px; border-right-color: transparent; border-bottom-color: rgb(0, 168, 255); border-left-color: transparent; border-right-width: 40px; border-bottom-width: 40px; border-left-width: 0px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute;
}
.tp-caption .frontcornertop {
	left: -40px; top: 0px; width: 0px; height: 0px; border-right-color: transparent; border-bottom-color: rgb(0, 168, 255); border-left-color: transparent; border-right-width: 0px; border-bottom-width: 40px; border-left-width: 40px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute;
}
.tp-caption .backcornertop {
	top: 0px; width: 0px; height: 0px; right: 0px; border-top-color: rgb(0, 168, 255); border-right-color: transparent; border-left-color: transparent; border-top-width: 40px; border-right-width: 40px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute;
}
.rev_slider_wrapper {
	position: relative;
}
.rev_slider_wrapper > ul {
	visibility: hidden;
}
.rev_slider {
	overflow: visible; position: relative;
}
.rev_slider img {
	margin: 0px; padding: 0px; border: currentColor; transition:none; border-image: none; visibility: visible !important; max-width: none !important; -webkit-transition: none 0; -moz-transition: none 0; -o-transition: none 0;
}
.rev_slider .no-slides-text {
	text-align: center; padding-top: 80px; font-weight: bold;
}
.rev_slider ul {
	background-position: 0px 0px; list-style: none !important; margin: 0px; padding: 0px;
}
.rev_slider ul li {
	background-position: 0px 0px; list-style: none !important; margin: 0px !important; padding: 0px !important; text-indent: 0em; visibility: hidden; position: absolute; -ms-overflow-x: visible; -ms-overflow-y: visible; background-image: none;
}
.rev_slider > ul > li {
	background-position: 0px 0px; list-style: none !important; margin: 0px !important; padding: 0px !important; text-indent: 0em; visibility: hidden; position: absolute; -ms-overflow-x: visible; -ms-overflow-y: visible; background-image: none;
}
.rev_slider > ul > li::before {
	background-position: 0px 0px; list-style: none !important; margin: 0px !important; padding: 0px !important; text-indent: 0em; visibility: hidden; position: absolute; -ms-overflow-x: visible; -ms-overflow-y: visible; background-image: none;
}
.tp-simpleresponsive img {
	max-width: none;
}
.tp-caption {
	z-index: 1;
}
.tp_inner_padding {
	max-height: none !important; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.tp-hide-revslider {
	display: none !important; visibility: hidden !important;
}
.tp-hidden-caption.tp-caption {
	display: none !important; visibility: hidden !important;
}
.rev_slider embed {
	max-width: none !important;
}
.rev_slider iframe {
	max-width: none !important;
}
.rev_slider object {
	max-width: none !important;
}
.rev_slider video {
	max-width: none !important;
}
.noFilterClass {
	filter: none !important;
}
.fullscreenvideo.caption {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.fullscreenvideo.caption iframe {
	width: 100% !important; height: 100% !important; display: none;
}
.fullscreenvideo.caption video {
	width: 100% !important; height: 100% !important; display: none;
}
.fullscreenvideo.tp-caption {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.fullscreenvideo.tp-caption iframe {
	width: 100% !important; height: 100% !important; display: none;
}
.fullscreenvideo.tp-caption iframe video {
	width: 100% !important; height: 100% !important; display: none;
}
.fullscreenvideo .vjs-loading-spinner {
	width: 0px; height: 0px; display: none !important;
}
.fullscreenvideo .vjs-fade-out.vjs-control-bar {
	width: 0px; height: 0px; overflow: hidden; display: none !important; visibility: hidden !important; opacity: 0 !important;
}
.fullscreenvideo .vjs-fade-in.vjs-control-bar {
	width: 0px; height: 0px; overflow: hidden; display: none !important; visibility: hidden !important; opacity: 0 !important;
}
.fullscreenvideo .vjs-lock-showing.vjs-fade-out.vjs-control-bar {
	width: 0px; height: 0px; overflow: hidden; display: none !important; visibility: hidden !important; opacity: 0 !important;
}
.fullscreenvideo .vjs-lock-showing.vjs-fade-in.vjs-control-bar {
	width: 0px; height: 0px; overflow: hidden; display: none !important; visibility: hidden !important; opacity: 0 !important;
}
.video-js.fullcoveredvideo {
	background: none !important;
}
.fullcoveredvideo video {
	background: none !important;
}
.fullcoveredvideo .vjs-poster {
	background-position: center; left: 0px; top: 0px; width: 100%; height: 100%; background-size: cover;
}
.tp-dottedoverlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1; background-repeat: repeat;
}
.twoxtwo.tp-dottedoverlay {
	background: url("../images/gridtile.png");
}
.twoxtwowhite.tp-dottedoverlay {
	background: url("../images/gridtile_white.png");
}
.threexthree.tp-dottedoverlay {
	background: url("../images/gridtile_3x3.png");
}
.threexthreewhite.tp-dottedoverlay {
	background: url("../images/gridtile_3x3_white.png");
}
.fullscreen-container {
	padding: 0px; width: 100%; position: relative;
}
.fullwidthbanner-container {
	padding: 0px; width: 100%; overflow: hidden; position: relative;
}
.fullwidthbanner-container .fullwidthabanner {
	width: 100%; position: relative;
}
.tp-simpleresponsive .slotholder * {
	
}
.tp-simpleresponsive img {
	
}
.tp-simpleresponsive .caption {
	position: absolute; -webkit-font-smoothing: antialiased;
}
.tp-simpleresponsive .tp-caption {
	position: absolute; -webkit-font-smoothing: antialiased;
}
.tp-bannershadow {
	margin-right: auto; margin-left: auto; position: absolute; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -khtml-user-select: none;
}
.tp-shadow1.tp-bannershadow {
	background: url("../images/shadow1.png") no-repeat 0% 0% / 100% 100%; width: 890px; height: 30px; bottom: -30px;
}
.tp-shadow2.tp-bannershadow {
	background: url("../images/shadow2.png") no-repeat 0% 0% / 100% 100%; width: 890px; height: 60px; bottom: -60px;
}
.tp-shadow3.tp-bannershadow {
	background: url("../images/shadow3.png") no-repeat 0% 0% / 100% 100%; width: 890px; height: 60px; bottom: -60px;
}
.tp-button {
	background: url("../images/gradient/g30.png") repeat-x top; padding: 6px 13px 5px; border-radius: 3px; height: 30px; color: rgb(255, 255, 255) !important; line-height: 45px !important; letter-spacing: -1px; font-family: arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; cursor: pointer; text-shadow: 0px 1px 1px rgba(0,0,0,0.6) !important; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.big.tp-button {
	background: url("../images/gradient/g40.png") repeat-x top; padding: 9px 20px; color: rgb(255, 255, 255); line-height: 57px !important; font-size: 19px; font-weight: bold; text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}
.purchase:hover {
	background-position: bottom, 15px 11px;
}
.tp-button:hover {
	background-position: bottom, 15px 11px;
}
.big.tp-button:hover {
	background-position: bottom, 15px 11px;
}
@media only screen and (max-width:767px) and (min-width:480px)
{
.tp-button {
	padding: 4px 8px 3px; line-height: 25px !important; font-size: 11px !important; font-weight: normal;
}
a.tp-button {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
}
@media only screen and (max-width:479px) and (min-width:0px)
{
.tp-button {
	padding: 2px 5px; line-height: 20px !important; font-size: 10px !important;
}
a.tp-button {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
}
.green.tp-button {
	box-shadow: 0px 3px 0px 0px #104d0b; background-color: rgb(33, 161, 23); -webkit-box-shadow: 0px 3px 0px 0px #104d0b; -moz-box-shadow: 0px 3px 0px 0px #104d0b;
}
.green.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #104d0b; background-color: rgb(33, 161, 23); -webkit-box-shadow: 0px 3px 0px 0px #104d0b; -moz-box-shadow: 0px 3px 0px 0px #104d0b;
}
.green.purchase {
	box-shadow: 0px 3px 0px 0px #104d0b; background-color: rgb(33, 161, 23); -webkit-box-shadow: 0px 3px 0px 0px #104d0b; -moz-box-shadow: 0px 3px 0px 0px #104d0b;
}
.green.purchase:hover {
	box-shadow: 0px 3px 0px 0px #104d0b; background-color: rgb(33, 161, 23); -webkit-box-shadow: 0px 3px 0px 0px #104d0b; -moz-box-shadow: 0px 3px 0px 0px #104d0b;
}
.blue.tp-button {
	box-shadow: 0px 3px 0px 0px #0f3e68; background-color: rgb(29, 120, 203); -webkit-box-shadow: 0px 3px 0px 0px #0f3e68; -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
}
.blue.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #0f3e68; background-color: rgb(29, 120, 203); -webkit-box-shadow: 0px 3px 0px 0px #0f3e68; -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
}
.blue.purchase {
	box-shadow: 0px 3px 0px 0px #0f3e68; background-color: rgb(29, 120, 203); -webkit-box-shadow: 0px 3px 0px 0px #0f3e68; -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
}
.blue.purchase:hover {
	box-shadow: 0px 3px 0px 0px #0f3e68; background-color: rgb(29, 120, 203); -webkit-box-shadow: 0px 3px 0px 0px #0f3e68; -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
}
.red.tp-button {
	box-shadow: 0px 3px 0px 0px #7c1212; background-color: rgb(203, 29, 29); -webkit-box-shadow: 0px 3px 0px 0px #7c1212; -moz-box-shadow: 0px 3px 0px 0px #7c1212;
}
.red.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #7c1212; background-color: rgb(203, 29, 29); -webkit-box-shadow: 0px 3px 0px 0px #7c1212; -moz-box-shadow: 0px 3px 0px 0px #7c1212;
}
.red.purchase {
	box-shadow: 0px 3px 0px 0px #7c1212; background-color: rgb(203, 29, 29); -webkit-box-shadow: 0px 3px 0px 0px #7c1212; -moz-box-shadow: 0px 3px 0px 0px #7c1212;
}
.red.purchase:hover {
	box-shadow: 0px 3px 0px 0px #7c1212; background-color: rgb(203, 29, 29); -webkit-box-shadow: 0px 3px 0px 0px #7c1212; -moz-box-shadow: 0px 3px 0px 0px #7c1212;
}
.orange.tp-button {
	box-shadow: 0px 3px 0px 0px #a34c00; background-color: rgb(255, 119, 0); -webkit-box-shadow: 0px 3px 0px 0px #a34c00; -moz-box-shadow: 0px 3px 0px 0px #a34c00;
}
.orange.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #a34c00; background-color: rgb(255, 119, 0); -webkit-box-shadow: 0px 3px 0px 0px #a34c00; -moz-box-shadow: 0px 3px 0px 0px #a34c00;
}
.orange.purchase {
	box-shadow: 0px 3px 0px 0px #a34c00; background-color: rgb(255, 119, 0); -webkit-box-shadow: 0px 3px 0px 0px #a34c00; -moz-box-shadow: 0px 3px 0px 0px #a34c00;
}
.orange.purchase:hover {
	box-shadow: 0px 3px 0px 0px #a34c00; background-color: rgb(255, 119, 0); -webkit-box-shadow: 0px 3px 0px 0px #a34c00; -moz-box-shadow: 0px 3px 0px 0px #a34c00;
}
.darkgrey.tp-button {
	box-shadow: 0px 3px 0px 0px #222; background-color: rgb(85, 85, 85); -webkit-box-shadow: 0px 3px 0px 0px #222; -moz-box-shadow: 0px 3px 0px 0px #222;
}
.grey.tp-button {
	box-shadow: 0px 3px 0px 0px #222; background-color: rgb(85, 85, 85); -webkit-box-shadow: 0px 3px 0px 0px #222; -moz-box-shadow: 0px 3px 0px 0px #222;
}
.darkgrey.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #222; background-color: rgb(85, 85, 85); -webkit-box-shadow: 0px 3px 0px 0px #222; -moz-box-shadow: 0px 3px 0px 0px #222;
}
.grey.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #222; background-color: rgb(85, 85, 85); -webkit-box-shadow: 0px 3px 0px 0px #222; -moz-box-shadow: 0px 3px 0px 0px #222;
}
.darkgrey.purchase {
	box-shadow: 0px 3px 0px 0px #222; background-color: rgb(85, 85, 85); -webkit-box-shadow: 0px 3px 0px 0px #222; -moz-box-shadow: 0px 3px 0px 0px #222;
}
.darkgrey.purchase:hover {
	box-shadow: 0px 3px 0px 0px #222; background-color: rgb(85, 85, 85); -webkit-box-shadow: 0px 3px 0px 0px #222; -moz-box-shadow: 0px 3px 0px 0px #222;
}
.lightgrey.tp-button {
	box-shadow: 0px 3px 0px 0px #555; background-color: rgb(136, 136, 136); -webkit-box-shadow: 0px 3px 0px 0px #555; -moz-box-shadow: 0px 3px 0px 0px #555;
}
.lightgrey.tp-button:hover {
	box-shadow: 0px 3px 0px 0px #555; background-color: rgb(136, 136, 136); -webkit-box-shadow: 0px 3px 0px 0px #555; -moz-box-shadow: 0px 3px 0px 0px #555;
}
.lightgrey.purchase {
	box-shadow: 0px 3px 0px 0px #555; background-color: rgb(136, 136, 136); -webkit-box-shadow: 0px 3px 0px 0px #555; -moz-box-shadow: 0px 3px 0px 0px #555;
}
.lightgrey.purchase:hover {
	box-shadow: 0px 3px 0px 0px #555; background-color: rgb(136, 136, 136); -webkit-box-shadow: 0px 3px 0px 0px #555; -moz-box-shadow: 0px 3px 0px 0px #555;
}
.tpclear {
	clear: both;
}
.tp-bullets {
	transition:opacity 0.2s ease-out; position: absolute; z-index: 1000; opacity: 1; -webkit-transition: opacity 0.2s ease-out; -webkit-transform: translateZ(5px); -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -moz-opacity: 1; -khtml-opacity: 1;
}
.hidebullets.tp-bullets {
	opacity: 0; -moz-opacity: 0; -khtml-opacity: 0;
}
.navbar.simplebullets.tp-bullets {
	background: url("../images/boxed_bgtile.png"); border-width: 1px; border-style: solid; border-color: rgb(102, 102, 102) rgb(102, 102, 102) rgb(68, 68, 68); padding: 0px 10px; border-radius: 5px; border-image: none; height: 40px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.navbar-old.simplebullets.tp-bullets {
	background: url("../images/navigdots_bgtile.png"); padding: 0px 10px; border-radius: 5px; height: 35px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.round.simplebullets.tp-bullets .bullet {
	background: url("../images/bullet.png") no-repeat left top; width: 20px; height: 20px; margin-top: 0px; margin-right: 0px; margin-left: 3px; float: left; position: relative; cursor: pointer;
}
.round.simplebullets.tp-bullets .last.bullet {
	margin-right: 3px;
}
.round-old.simplebullets.tp-bullets .bullet {
	background: url("../images/bullets.png") no-repeat left bottom; width: 23px; height: 23px; margin-top: 0px; margin-right: 0px; float: left; position: relative; cursor: pointer;
}
.round-old.simplebullets.tp-bullets .last.bullet {
	margin-right: 0px;
}
.square.simplebullets.tp-bullets .bullet {
	background: url("../images/bullets2.png") no-repeat left bottom; width: 19px; height: 19px; margin-top: 0px; margin-right: 0px; float: left; position: relative; cursor: pointer;
}
.square.simplebullets.tp-bullets .last.bullet {
	margin-right: 0px;
}
.square-old.simplebullets.tp-bullets .bullet {
	background: url("../images/bullets2.png") no-repeat left bottom; width: 19px; height: 19px; margin-top: 0px; margin-right: 0px; float: left; position: relative; cursor: pointer;
}
.square-old.simplebullets.tp-bullets .last.bullet {
	margin-right: 0px;
}
.navbar.simplebullets.tp-bullets .bullet {
	background: url("../images/bullet_boxed.png") no-repeat left top; width: 18px; height: 19px; margin-top: 10px; margin-right: 5px; float: left; position: relative; cursor: pointer;
}
.navbar.simplebullets.tp-bullets .first.bullet {
	margin-left: 0px !important;
}
.navbar.simplebullets.tp-bullets .last.bullet {
	margin-right: 0px !important;
}
.navbar-old.simplebullets.tp-bullets .bullet {
	background: url("../images/navigdots.png") no-repeat left bottom; width: 15px; height: 15px; margin-top: 10px; margin-right: 5px !important; margin-left: 5px !important; float: left; position: relative; cursor: pointer;
}
.navbar-old.simplebullets.tp-bullets .first.bullet {
	margin-left: 0px !important;
}
.navbar-old.simplebullets.tp-bullets .last.bullet {
	margin-right: 0px !important;
}
.simplebullets.tp-bullets .bullet:hover {
	background-position: left top;
}
.simplebullets.tp-bullets .selected.bullet {
	background-position: left top;
}
.round.simplebullets.tp-bullets .bullet:hover {
	background-position: left bottom;
}
.round.simplebullets.tp-bullets .selected.bullet {
	background-position: left bottom;
}
.navbar.simplebullets.tp-bullets .bullet:hover {
	background-position: left bottom;
}
.navbar.simplebullets.tp-bullets .selected.bullet {
	background-position: left bottom;
}
.tparrows {
	transition:opacity 0.2s ease-out; opacity: 1; -webkit-transition: opacity 0.2s ease-out; -webkit-transform: translateZ(5px); -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -moz-opacity: 1; -khtml-opacity: 1;
}
.hidearrows.tparrows {
	opacity: 0; -moz-opacity: 0; -khtml-opacity: 0;
}
.tp-leftarrow {
	background: url("../images/large_left.png") no-repeat left top; width: 40px; height: 40px; position: relative; z-index: 100; cursor: pointer;
}
.tp-rightarrow {
	background: url("../images/large_right.png") no-repeat left top; width: 40px; height: 40px; position: relative; z-index: 100; cursor: pointer;
}
.round.tp-leftarrow {
	background: url("../images/small_left.png") no-repeat left top; width: 19px; height: 14px; margin-top: 0px; margin-right: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.round.tp-rightarrow {
	background: url("../images/small_right.png") no-repeat left top; width: 19px; height: 14px; margin-top: 0px; margin-right: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.round-old.tp-leftarrow {
	background: url("../images/arrow_left.png") no-repeat left top; width: 26px; height: 26px; margin-top: 0px; margin-right: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.round-old.tp-rightarrow {
	background: url("../images/arrow_right.png") no-repeat left top; width: 26px; height: 26px; margin-top: 0px; margin-right: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.navbar.tp-leftarrow {
	background: url("../images/small_left_boxed.png") no-repeat left top; width: 20px; height: 15px; margin-top: 12px; margin-right: 6px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.navbar.tp-rightarrow {
	background: url("../images/small_right_boxed.png") no-repeat left top; width: 20px; height: 15px; margin-top: 12px; margin-left: 6px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.navbar-old.tp-leftarrow {
	background: url("../images/arrowleft.png") no-repeat left top; width: 9px; height: 16px; margin-top: 10px; margin-right: 6px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.navbar-old.tp-rightarrow {
	background: url("../images/arrowright.png") no-repeat left top; width: 9px; height: 16px; margin-top: 10px; margin-left: 6px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.thumbswitharrow.navbar-old.tp-leftarrow {
	margin-right: 10px;
}
.thumbswitharrow.navbar-old.tp-rightarrow {
	margin-left: 0px;
}
.square.tp-leftarrow {
	background: url("../images/arrow_left2.png") no-repeat left top; width: 12px; height: 17px; margin-top: 0px; margin-right: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.square.tp-rightarrow {
	background: url("../images/arrow_right2.png") no-repeat left top; width: 12px; height: 17px; margin-top: 0px; margin-left: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.square-old.tp-leftarrow {
	background: url("../images/arrow_left2.png") no-repeat left top; width: 12px; height: 17px; margin-top: 0px; margin-right: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.square-old.tp-rightarrow {
	background: url("../images/arrow_right2.png") no-repeat left top; width: 12px; height: 17px; margin-top: 0px; margin-left: 0px; float: left; position: relative; z-index: 100; cursor: pointer;
}
.default.tp-leftarrow {
	background: url("../images/large_left.png") no-repeat 0px 0px; width: 40px; height: 40px; position: relative; z-index: 100; cursor: pointer;
}
.default.tp-rightarrow {
	background: url("../images/large_right.png") no-repeat 0px 0px; width: 40px; height: 40px; position: relative; z-index: 100; cursor: pointer;
}
.tp-leftarrow:hover {
	background-position: left bottom;
}
.tp-rightarrow:hover {
	background-position: left bottom;
}
.tp-thumbs.tp-bullets {
	padding: 3px; width: 500px; height: 50px; margin-top: -50px; vertical-align: top; position: absolute; z-index: 1000; background-color: rgb(255, 255, 255);
}
.tp-thumbs.tp-bullets img {
	vertical-align: top;
}
.fullwidthbanner-container .tp-thumbs {
	padding: 3px;
}
.tp-thumbs.tp-bullets .tp-mask {
	width: 500px; height: 50px; overflow: hidden; position: relative;
}
.tp-thumbs.tp-bullets .tp-mask .tp-thumbcontainer {
	width: 5000px; position: absolute;
}
.tp-thumbs.tp-bullets .bullet {
	background: none; margin: 0px; transition:0.2s ease-out; width: 100px; height: 50px; overflow: hidden; float: left; cursor: pointer; opacity: 0.5; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -moz-opacity: 0.5; -khtml-opacity: 0.5;
}
.tp-thumbs.tp-bullets .bullet:hover {
	opacity: 1; -moz-opacity: 1; -khtml-opacity: 1;
}
.tp-thumbs.tp-bullets .selected.bullet {
	opacity: 1; -moz-opacity: 1; -khtml-opacity: 1;
}
.tp-thumbs img {
	width: 100%;
}
.tp-bannertimer {
	background: url("../images/timer.png"); top: 0px; width: 100%; height: 10px; position: absolute; z-index: 200;
}
.tp-bottom.tp-bannertimer {
	top: auto; height: 5px; bottom: 0px !important;
}
.vjs-tech {
	margin-top: 1px;
}
.tp-caption .vjs-default-skin .vjs-big-play-button {
	padding: 0px; border-radius: 5px; border: currentColor; border-image: none; left: 50%; top: 50%; width: 40px; height: 40px; line-height: 30px; margin-top: -20px; margin-left: -20px; vertical-align: top; box-shadow: none; text-shadow: none; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.tp-caption .vjs-default-skin .vjs-big-play-button::before {
	left: 0px; top: 0px; color: rgb(255, 255, 255); line-height: 40px; font-size: 18px; position: absolute; text-shadow: none !important;
}
.tp-caption .vjs-default-skin:hover .vjs-big-play-button {
	box-shadow: none; -webkit-box-shadow: none;
}
.vjs-default-skin .vjs-big-play-button:focus {
	box-shadow: none; -webkit-box-shadow: none;
}
.tp-simpleresponsive img {
	-webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -khtml-user-select: none;
}
.tp-caption img {
	background: none; -ms-zoom: 1;
}
.tp-simpleresponsive ul {
	list-style: none; margin: 0px; padding: 0px;
}
.tp-simpleresponsive > ul li {
	list-style: none; visibility: hidden; position: absolute;
}
.slidelink.caption a div {
	background: url("../images/coloredbg.png"); width: 3000px; height: 1500px;
}
.slidelink.tp-caption a div {
	background: url("../images/coloredbg.png"); width: 3000px; height: 1500px;
}
.tp-loader {
	background: url("../images/loader.gif") no-repeat 10px 10px rgb(255, 255, 255); margin: -22px; border-radius: 3px; left: 50%; top: 50%; width: 44px; height: 44px; position: absolute; z-index: 10000; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
