.zo2-megamenu .mega-group-content::before {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-group-content::after {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .row-fluid {
	overflow: visible !important;
}
.zo2-megamenu .mega-group::before {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-group::after {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-inner::before {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .mega-inner::after {
	line-height: 0; display: table; content: "";
}
.zo2-megamenu .nav [class^='icon-'] {
	margin-right: 5px;
}
.zo2-megamenu .nav [class*=' icon-'] {
	margin-right: 5px;
}
.zo2-megamenu .mega-group > .mega-nav {
	margin-right: -5px; margin-left: -5px;
}
.zo2-megamenu .dropdown-menu .mega-group > .mega-nav {
	margin-right: -5px; margin-left: -5px;
}
.zo2-megamenu .mega-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.zo2-megamenu .dropdown-menu .mega-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title {
	background: inherit; margin: 0px; padding: 0px; color: inherit; font-weight: bold;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title {
	background: inherit; margin: 0px; padding: 0px; color: inherit; font-weight: bold;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
	background: inherit; margin: 0px; padding: 0px; color: inherit; font-weight: bold;
}
.zo2-megamenu .nav .caret {
	display: none;
}
.zo2-megamenu .dropdown-submenu .caret {
	display: none;
}
.zo2-megamenu .mega-menu .caret {
	display: none;
}
.zo2-megamenu .mega-group-content::after {
	clear: both;
}
.zo2-megamenu .mega > .mega-dropdown-menu {
	display: none; min-width: 200px;
}
.zo2-megamenu .nav > .dropdown > .dropdown-toggle .caret {
	display: inline-block;
}
.zo2-megamenu .mega-align-center > .dropdown-menu {
	left: 50%; transform: translate(-50%); -webkit-transform: translate(-50%); -moz-transform: translate(-50%); -o-transform: translate(-50%);
}
.zo2-megamenu .zo2-module {
	margin-bottom: 10px;
}
.zo2-megamenu .zo2-module .module-ct {
	margin: 0px; padding: 0px;
}
.zo2-megamenu .zo2-module .module-title {
	margin-bottom: 0px;
}
.zo2-megamenu .mega-group::after {
	clear: both;
}
.zo2-megamenu .row-fluid + div .row-fluid {
	padding-top: 10px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.zo2-megamenu .mega-inner {
	padding: 10px;
}
.zo2-megamenu .mega-caption {
	display: block; white-space: nowrap;
}
.zo2-megamenu .mega-align-right.dropdown-submenu > .dropdown-menu {
	left: auto; right: 100%;
}
.zo2-megamenu .mega-nav .dropdown-submenu > a::after {
	margin-right: 5px;
}
.zo2-megamenu .mega-align-left.dropdown-submenu > .dropdown-menu {
	left: 100%;
}
.zo2-megamenu .mega-inner::after {
	clear: both;
}
.zo2-megamenu .mega-align-justify {
	position: static;
}
.zo2-megamenu .mega-align-justify > .dropdown-menu {
	left: 0px; top: auto; margin-left: 0px;
}
.zo2-megamenu .mega-col-nav.span12 .mega-inner {
	padding: 5px;
}
.zo2-megamenu .mega-group {
	
}
.zo2-megamenu .mega-align-right > .dropdown-menu {
	left: auto; right: 0px;
}
.zo2-megamenu .mega-align-left > .dropdown-menu {
	left: 0px;
}
.zo2-megamenu .mega-group-content {
	margin: 0px; padding: 0px;
}
.zo2-megamenu .mega-group-content > .row-fluid > [class*='span'] > .mega-inner {
	padding: 0px;
}
.zo2-megamenu .mega-nav > li a {
	white-space: normal;
}
.zo2-megamenu .dropdown-menu .mega-nav > li a {
	white-space: normal;
}
.zo2-megamenu .mega-nav > li {
	list-style: none; margin-left: 0px;
}
.zo2-megamenu .dropdown-menu .mega-nav > li {
	list-style: none; margin-left: 0px;
}
.zo2-megamenu .open.mega > .mega-dropdown-menu {
	display: block;
}
.zo2-megamenu .dropdown-submenu.mega:hover > .mega-dropdown-menu {
	display: block;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title:hover {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover {
	background: inherit; color: inherit;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title:active {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:active {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:active {
	background: inherit; color: inherit;
}
.zo2-megamenu .mega-nav .mega-group > .mega-group-title:focus {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus {
	background: inherit; color: inherit;
}
.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
	background: inherit; color: inherit;
}
@media all and (min-width:768px)
{
.elastic.animate.zo2-megamenu .mega > .mega-dropdown-menu {
	transform-origin: 10% 0%; transform: scale(0, 1); -webkit-transform: scale(0, 1); -o-transform: scale(0, 1); -webkit-transform-origin: 10% 0; -o-transform-origin: 10% 0;
}
.elastic.animate.zo2-megamenu .open.mega > .mega-dropdown-menu {
	transform: scale(1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1);
}
.elastic.animate.zo2-megamenu .level0 > .mega > .mega-dropdown-menu {
	transform: scale(1, 0); -webkit-transform: scale(1, 0); -o-transform: scale(1, 0);
}
.zoom.animate.zo2-megamenu .mega > .mega-dropdown-menu {
	transform-origin: 20% 20%; transform: scale(0); -webkit-transform: scale(0, 0); -o-transform: scale(0, 0); -webkit-transform-origin: 20% 20%; -o-transform-origin: 20% 20%;
}
.zoom.animate.zo2-megamenu .open.mega > .mega-dropdown-menu {
	transform: scale(1); -webkit-transform: scale(1, 1); -o-transform: scale(1, 1);
}
.animate.zo2-megamenu .hovering.mega > .mega-dropdown-menu {
	display: block !important;
}
.animate.zo2-megamenu .mega > .mega-dropdown-menu {
	transition:400ms; opacity: 0; backface-visibility: hidden; -webkit-transition: all 400ms; -o-transition: all 400ms; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden;
}
.animate.zo2-megamenu .open.mega > .mega-dropdown-menu {
	opacity: 1;
}
.animate.zo2-megamenu .open.hovering.mega > .mega-dropdown-menu {
	opacity: 1;
}
.slide.animate.zo2-megamenu .mega .mega > .mega-dropdown-menu {
	min-width: 0px;
}
.slide.animate.zo2-megamenu .mega .mega > .mega-dropdown-menu > div {
	margin-top: 0px; margin-left: -500px; min-width: 200px;
}
.slide.animate.zo2-megamenu .mega .open.mega > .mega-dropdown-menu > div {
	margin-left: 0px;
}
.slide.animate.zo2-megamenu .mega > .mega-dropdown-menu > div {
	transition:400ms; margin-top: -100%; backface-visibility: hidden; -webkit-transition: all 400ms; -o-transition: all 400ms; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden;
}
.slide.animate.zo2-megamenu .hovering.mega > .mega-dropdown-menu {
	overflow: hidden;
}
.slide.animate.zo2-megamenu .open.mega > .mega-dropdown-menu > div {
	margin-top: 0%;
}
}
@media all and (max-width:767px)
{
.zo2-megamenu .row-fluid {
	left: 0px !important; width: 100% !important; margin-left: 0px !important; min-width: 100% !important; transform: none !important; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.zo2-megamenu .mega-dropdown-menu {
	left: 0px !important; width: 100% !important; margin-left: 0px !important; min-width: 100% !important; transform: none !important; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.zo2-megamenu .row-fluid [class*='span'] {
	left: 0px !important; width: 100% !important; margin-left: 0px !important; min-width: 100% !important; transform: none !important; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.zo2-megamenu .row-fluid + div .row-fluid {
	padding-top: 10px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.zo2-megamenu .mega-inner {
	padding: 10px 20px;
}
.zo2-megamenu .mega-caption {
	display: none !important;
}
.zo2-megamenu .hidden-collapse {
	display: none !important;
}
.zo2-megamenu .always-show .caret {
	display: none !important;
}
.zo2-megamenu .sub-hidden-collapse > .menu-child {
	display: none !important;
}
.zo2-megamenu .sub-hidden-collapse .caret {
	display: none !important;
}
.zo2-megamenu .sub-hidden-collapse > a::after {
	display: none !important;
}
.zo2-megamenu .always-show .dropdown-submenu > a::after {
	display: none !important;
}
}
.shortcode-items a {
	margin-bottom: 5px;
}
.embed-container {
	height: auto; overflow: hidden; padding-top: 30px; position: relative; max-width: 100%;
}
.embed-container iframe {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.embed-container object {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.embed-container embed {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
h3.accordion-head span {
	background: url("../images/plus-24px.png") 0px 0px;
}
h3.accordion-head span.active {
	background: url("../images/minus-24px.png") 0px 0px;
}
h3.accordion-header-title {
	font-size: 150%; margin-bottom: 25px;
}
ul.zt-accordion {
	list-style: none; margin-left: 0px;
}
ul.zt-accordion li {
	background: none; list-style: none; padding: 0px 0px 16px; margin-bottom: 15px; border-bottom-color: rgb(236, 236, 236); border-bottom-width: 1px; border-bottom-style: solid;
}
h3.accordion-head {
	padding: 0px; line-height: 21px; margin-top: 3px; cursor: pointer;
}
div.accordion-content {
	padding: 10px 0px 0px; overflow: hidden;
}
span.accordion-head-image {
	width: 24px; height: 24px; margin-right: 13px; float: left; display: block; cursor: pointer;
}
div.accordion-head p {
	margin-bottom: 0px;
}
div.shortcode-block-quote-left {
	margin: 15px 20px; padding: 20px; width: 33%; font-family: Georgia, "Times New Roman", Times, serif; font-size: 140%; font-style: oblique; border-left-color: rgb(221, 221, 221); border-left-width: 2px; border-left-style: solid; float: left;
}
div.shortcode-block-quote-right {
	margin: 15px 20px; padding: 20px; width: 33%; font-family: Georgia, "Times New Roman", Times, serif; font-size: 140%; font-style: oblique; border-left-color: rgb(221, 221, 221); border-left-width: 2px; border-left-style: solid; float: right;
}
div.shortcode-block-quote-center {
	margin: 0px 20px 20px; padding: 20px; text-align: center; font-family: Georgia, "Times New Roman", Times, serif; font-size: 140%; font-style: oblique; border-left-color: rgb(221, 221, 221); border-left-width: 2px; border-left-style: solid;
}
a.shortcode-large-button.zt-button {
	padding: 0px 21px; height: 38px; line-height: 38px; font-size: 120%; margin-right: 10px; margin-bottom: 20px;
}
a.shortcode-medium-button.zt-button {
	padding: 0px 15px; height: 30px; line-height: 30px; font-size: 100%; margin-right: 10px; margin-bottom: 20px;
}
a.shortcode-small-button.zt-button {
	font-size: 95%; margin-right: 10px; margin-bottom: 20px; text-shadow: none;
}
a.zt-button {
	background: url("../images/gradient-top4-32px.png") repeat-x; padding: 1px 12px 0px; border-radius: 3px; height: 26px; line-height: 26px; font-weight: bold; display: inline-block; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
a.zt-button:hover {
	background-image: url("../images/gradient-bottom4-32px.png");
}
.shortcode1-4 {
	width: 23%; margin-right: 2%; margin-bottom: 2%; float: left;
}
.shortcode1-3 {
	width: 31.33%; margin-right: 2%; float: left;
}
.shortcode1-2 {
	width: 48%; margin-right: 2%; float: left;
}
.shortcode2-3 {
	width: 64.66%; margin-right: 2%; float: left;
}
.shortcode3-4 {
	width: 73%; margin-right: 2%; float: left;
}
.shortcode1 {
	width: 98%; margin-right: 2%; float: left;
}
div.shortcode-dropcap {
	width: 35px; height: 35px; text-align: center; line-height: 35px; font-size: 200%; margin-top: 15px; margin-right: 5px; margin-bottom: 0px; float: left;
}
div.circle.shortcode-dropcap {
	border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px;
}
div.square.shortcode-dropcap {
	padding: 2px; border: 1px solid rgb(236, 236, 236); border-image: none; margin-top: 5px;
}
div.pp_default .pp_top {
	height: 13px;
}
div.pp_default .pp_top .pp_middle {
	height: 13px;
}
div.pp_default .pp_top .pp_left {
	height: 13px;
}
div.pp_default .pp_top .pp_right {
	height: 13px;
}
div.pp_default .pp_bottom {
	height: 13px;
}
div.pp_default .pp_bottom .pp_left {
	height: 13px;
}
div.pp_default .pp_bottom .pp_middle {
	height: 13px;
}
div.pp_default .pp_bottom .pp_right {
	height: 13px;
}
div.pp_default .pp_top .pp_left {
	background: url("../images/sprite.png") no-repeat -78px -93px;
}
div.pp_default .pp_top .pp_middle {
	background: url("../images/sprite_x.png") repeat-x left top;
}
div.pp_default .pp_top .pp_right {
	background: url("../images/sprite.png") no-repeat -112px -93px;
}
div.pp_default .pp_content .ppt {
	color: rgb(248, 248, 248);
}
div.pp_default .pp_content_container .pp_left {
	background: url("../images/sprite_y.png") repeat-y -7px 0px; padding-left: 13px;
}
div.pp_default .pp_content_container .pp_right {
	background: url("../images/sprite_y.png") repeat-y right top; padding-right: 13px;
}
div.pp_default .pp_next:hover {
	background: url("../images/sprite_next.png") no-repeat right; cursor: pointer;
}
div.pp_default .pp_previous:hover {
	background: url("../images/sprite_prev.png") no-repeat left; cursor: pointer;
}
div.pp_default .pp_expand {
	background: url("../images/sprite.png") no-repeat 0px -29px; width: 28px; height: 28px; cursor: pointer;
}
div.pp_default .pp_expand:hover {
	background: url("../images/sprite.png") no-repeat 0px -56px; cursor: pointer;
}
div.pp_default .pp_contract {
	background: url("../images/sprite.png") no-repeat 0px -84px; width: 28px; height: 28px; cursor: pointer;
}
div.pp_default .pp_contract:hover {
	background: url("../images/sprite.png") no-repeat 0px -113px; cursor: pointer;
}
div.pp_default .pp_close {
	background: url("../images/sprite.png") no-repeat 2px 1px; width: 30px; height: 30px; cursor: pointer;
}
div.pp_default .pp_gallery ul li a {
	background: url("../images/default_thumb.png") center rgb(248, 248, 248); border: 1px solid rgb(170, 170, 170); border-image: none;
}
div.pp_default .pp_social {
	margin-top: 7px;
}
div.pp_default .pp_gallery a.pp_arrow_previous {
	left: auto; position: static;
}
div.pp_default .pp_gallery a.pp_arrow_next {
	left: auto; position: static;
}
div.pp_default .pp_nav .pp_play {
	background: url("../images/sprite.png") no-repeat -51px 1px; width: 30px; height: 30px;
}
div.pp_default .pp_nav .pp_pause {
	background: url("../images/sprite.png") no-repeat -51px 1px; width: 30px; height: 30px;
}
div.pp_default .pp_nav .pp_pause {
	background-position: -51px -29px;
}
div.pp_default a.pp_arrow_previous {
	background: url("../images/sprite.png") no-repeat -31px -3px; margin: 4px 0px 0px; width: 20px; height: 20px;
}
div.pp_default a.pp_arrow_next {
	background: url("../images/sprite.png") no-repeat -31px -3px; margin: 4px 0px 0px; width: 20px; height: 20px;
}
div.pp_default a.pp_arrow_next {
	background-position: -82px -3px; left: 52px;
}
div.pp_default .pp_content_container .pp_details {
	margin-top: 5px;
}
div.pp_default .pp_nav {
	width: 110px; height: 30px; clear: none; position: relative;
}
div.pp_default .pp_nav .currentTextHolder {
	margin: 0px; padding: 0px 0px 0px 10px; left: 75px; top: 2px; color: rgb(153, 153, 153); line-height: 25px; font-family: Georgia; font-size: 95%; font-style: italic; position: absolute;
}
div.pp_default .pp_close:hover {
	opacity: 0.7;
}
div.pp_default .pp_nav .pp_play:hover {
	opacity: 0.7;
}
div.pp_default .pp_nav .pp_pause:hover {
	opacity: 0.7;
}
div.pp_default .pp_arrow_next:hover {
	opacity: 0.7;
}
div.pp_default .pp_arrow_previous:hover {
	opacity: 0.7;
}
div.pp_default .pp_description {
	margin: 5px 50px 5px 0px; line-height: 14px; font-size: 95%; font-weight: 700;
}
div.pp_default .pp_bottom .pp_left {
	background: url("../images/sprite.png") no-repeat -78px -127px;
}
div.pp_default .pp_bottom .pp_middle {
	background: url("../images/sprite_x.png") repeat-x left bottom;
}
div.pp_default .pp_bottom .pp_right {
	background: url("../images/sprite.png") no-repeat -112px -127px;
}
div.pp_default .pp_loaderIcon {
	background: url("../images/loader.gif") no-repeat center;
}
div.light_rounded .pp_top .pp_left {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -88px -53px;
}
div.light_rounded .pp_top .pp_right {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -110px -53px;
}
div.light_rounded .pp_next:hover {
	background: url("../images/prettyPhoto/light_rounded/btnNext.png") no-repeat right; cursor: pointer;
}
div.light_rounded .pp_previous:hover {
	background: url("../images/prettyPhoto/light_rounded/btnPrevious.png") no-repeat left; cursor: pointer;
}
div.light_rounded .pp_expand {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -31px -26px; cursor: pointer;
}
div.light_rounded .pp_expand:hover {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -31px -47px; cursor: pointer;
}
div.light_rounded .pp_contract {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat 0px -26px; cursor: pointer;
}
div.light_rounded .pp_contract:hover {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat 0px -47px; cursor: pointer;
}
div.light_rounded .pp_close {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -1px -1px; width: 75px; height: 22px; cursor: pointer;
}
div.light_rounded .pp_nav .pp_play {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -1px -100px; width: 14px; height: 15px;
}
div.light_rounded .pp_nav .pp_pause {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -24px -100px; width: 14px; height: 15px;
}
div.light_rounded .pp_arrow_previous {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat 0px -71px;
}
div.light_rounded .pp_arrow_next {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -22px -71px;
}
div.light_rounded .pp_bottom .pp_left {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -88px -80px;
}
div.light_rounded .pp_bottom .pp_right {
	background: url("../images/prettyPhoto/light_rounded/sprite.png") no-repeat -110px -80px;
}
div.dark_rounded .pp_top .pp_left {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -88px -53px;
}
div.dark_rounded .pp_top .pp_right {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -110px -53px;
}
div.dark_rounded .pp_content_container .pp_left {
	background: url("../images/prettyPhoto/dark_rounded/contentPattern.png") repeat-y left top;
}
div.dark_rounded .pp_content_container .pp_right {
	background: url("../images/prettyPhoto/dark_rounded/contentPattern.png") repeat-y right top;
}
div.dark_rounded .pp_next:hover {
	background: url("../images/prettyPhoto/dark_rounded/btnNext.png") no-repeat right; cursor: pointer;
}
div.dark_rounded .pp_previous:hover {
	background: url("../images/prettyPhoto/dark_rounded/btnPrevious.png") no-repeat left; cursor: pointer;
}
div.dark_rounded .pp_expand {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -31px -26px; cursor: pointer;
}
div.dark_rounded .pp_expand:hover {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -31px -47px; cursor: pointer;
}
div.dark_rounded .pp_contract {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat 0px -26px; cursor: pointer;
}
div.dark_rounded .pp_contract:hover {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat 0px -47px; cursor: pointer;
}
div.dark_rounded .pp_close {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -1px -1px; width: 75px; height: 22px; cursor: pointer;
}
div.dark_rounded .pp_description {
	color: rgb(255, 255, 255); margin-right: 85px;
}
div.dark_rounded .pp_nav .pp_play {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -1px -100px; width: 14px; height: 15px;
}
div.dark_rounded .pp_nav .pp_pause {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -24px -100px; width: 14px; height: 15px;
}
div.dark_rounded .pp_arrow_previous {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat 0px -71px;
}
div.dark_rounded .pp_arrow_next {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -22px -71px;
}
div.dark_rounded .pp_bottom .pp_left {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -88px -80px;
}
div.dark_rounded .pp_bottom .pp_right {
	background: url("../images/prettyPhoto/dark_rounded/sprite.png") no-repeat -110px -80px;
}
div.dark_rounded .pp_loaderIcon {
	background: url("../images/prettyPhoto/dark_rounded/loader.gif") no-repeat center;
}
div.dark_square .pp_left {
	background: rgb(0, 0, 0);
}
div.dark_square .pp_middle {
	background: rgb(0, 0, 0);
}
div.dark_square .pp_right {
	background: rgb(0, 0, 0);
}
div.dark_square .pp_content {
	background: rgb(0, 0, 0);
}
div.dark_square .pp_description {
	margin: 0px 85px 0px 0px; color: rgb(255, 255, 255);
}
div.dark_square .pp_loaderIcon {
	background: url("../images/prettyPhoto/dark_square/loader.gif") no-repeat center;
}
div.dark_square .pp_expand {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat -31px -26px; cursor: pointer;
}
div.dark_square .pp_expand:hover {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat -31px -47px; cursor: pointer;
}
div.dark_square .pp_contract {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat 0px -26px; cursor: pointer;
}
div.dark_square .pp_contract:hover {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat 0px -47px; cursor: pointer;
}
div.dark_square .pp_close {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat -1px -1px; width: 75px; height: 22px; cursor: pointer;
}
div.dark_square .pp_nav {
	clear: none;
}
div.dark_square .pp_nav .pp_play {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat -1px -100px; width: 14px; height: 15px;
}
div.dark_square .pp_nav .pp_pause {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat -24px -100px; width: 14px; height: 15px;
}
div.dark_square .pp_arrow_previous {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat 0px -71px;
}
div.dark_square .pp_arrow_next {
	background: url("../images/prettyPhoto/dark_square/sprite.png") no-repeat -22px -71px;
}
div.dark_square .pp_next:hover {
	background: url("../images/prettyPhoto/dark_square/btnNext.png") no-repeat right; cursor: pointer;
}
div.dark_square .pp_previous:hover {
	background: url("../images/prettyPhoto/dark_square/btnPrevious.png") no-repeat left; cursor: pointer;
}
div.light_square .pp_expand {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat -31px -26px; cursor: pointer;
}
div.light_square .pp_expand:hover {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat -31px -47px; cursor: pointer;
}
div.light_square .pp_contract {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat 0px -26px; cursor: pointer;
}
div.light_square .pp_contract:hover {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat 0px -47px; cursor: pointer;
}
div.light_square .pp_close {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat -1px -1px; width: 75px; height: 22px; cursor: pointer;
}
div.light_square .pp_nav .pp_play {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat -1px -100px; width: 14px; height: 15px;
}
div.light_square .pp_nav .pp_pause {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat -24px -100px; width: 14px; height: 15px;
}
div.light_square .pp_arrow_previous {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat 0px -71px;
}
div.light_square .pp_arrow_next {
	background: url("../images/prettyPhoto/light_square/sprite.png") no-repeat -22px -71px;
}
div.light_square .pp_next:hover {
	background: url("../images/prettyPhoto/light_square/btnNext.png") no-repeat right; cursor: pointer;
}
div.light_square .pp_previous:hover {
	background: url("../images/prettyPhoto/light_square/btnPrevious.png") no-repeat left; cursor: pointer;
}
div.facebook .pp_top .pp_left {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -88px -53px;
}
div.facebook .pp_top .pp_middle {
	background: url("../images/prettyPhoto/facebook/contentPatternTop.png") repeat-x left top;
}
div.facebook .pp_top .pp_right {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -110px -53px;
}
div.facebook .pp_content_container .pp_left {
	background: url("../images/prettyPhoto/facebook/contentPatternLeft.png") repeat-y left top;
}
div.facebook .pp_content_container .pp_right {
	background: url("../images/prettyPhoto/facebook/contentPatternRight.png") repeat-y right top;
}
div.facebook .pp_expand {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -31px -26px; cursor: pointer;
}
div.facebook .pp_expand:hover {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -31px -47px; cursor: pointer;
}
div.facebook .pp_contract {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat 0px -26px; cursor: pointer;
}
div.facebook .pp_contract:hover {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat 0px -47px; cursor: pointer;
}
div.facebook .pp_close {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -1px -1px; width: 22px; height: 22px; cursor: pointer;
}
div.facebook .pp_description {
	margin: 0px 37px 0px 0px;
}
div.facebook .pp_loaderIcon {
	background: url("../images/prettyPhoto/facebook/loader.gif") no-repeat center;
}
div.facebook .pp_arrow_previous {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat 0px -71px; width: 22px; height: 22px; margin-top: 0px;
}
div.facebook .disabled.pp_arrow_previous {
	background-position: 0px -96px; cursor: default;
}
div.facebook .pp_arrow_next {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -32px -71px; width: 22px; height: 22px; margin-top: 0px;
}
div.facebook .disabled.pp_arrow_next {
	background-position: -32px -96px; cursor: default;
}
div.facebook .pp_nav {
	margin-top: 0px;
}
div.facebook .pp_nav p {
	padding: 0px 3px 0px 4px; font-size: 130%;
}
div.facebook .pp_nav .pp_play {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -1px -123px; width: 22px; height: 22px;
}
div.facebook .pp_nav .pp_pause {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -32px -123px; width: 22px; height: 22px;
}
div.facebook .pp_next:hover {
	background: url("../images/prettyPhoto/facebook/btnNext.png") no-repeat right; cursor: pointer;
}
div.facebook .pp_previous:hover {
	background: url("../images/prettyPhoto/facebook/btnPrevious.png") no-repeat left; cursor: pointer;
}
div.facebook .pp_bottom .pp_left {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -88px -80px;
}
div.facebook .pp_bottom .pp_middle {
	background: url("../images/prettyPhoto/facebook/contentPatternBottom.png") repeat-x left top;
}
div.facebook .pp_bottom .pp_right {
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat -110px -80px;
}
div.pp_pic_holder a:focus {
	
}
div.pp_overlay {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; display: none; position: absolute; z-index: 9500;
}
div.pp_pic_holder {
	width: 100px; display: none; position: absolute; z-index: 10000;
}
.pp_content {
	height: 40px; min-width: 40px;
}
* html .pp_content {
	width: 40px;
}
.pp_content_container {
	width: 100%; text-align: left; position: relative;
}
.pp_content_container .pp_left {
	padding-left: 20px;
}
.pp_content_container .pp_right {
	padding-right: 20px;
}
.pp_content_container .pp_details {
	margin: 10px 0px 2px; float: left;
}
.pp_description {
	margin: 0px; display: none;
}
.pp_social {
	margin: 0px; float: left;
}
.pp_social .facebook {
	width: 55px; overflow: hidden; margin-left: 5px; float: left;
}
.pp_social .twitter {
	float: left;
}
.pp_nav {
	margin: 3px 10px 0px 0px; clear: right; float: left;
}
.pp_nav p {
	margin: 2px 4px; float: left; white-space: nowrap;
}
.pp_nav .pp_play {
	text-indent: -10000px; margin-right: 4px; float: left;
}
.pp_nav .pp_pause {
	text-indent: -10000px; margin-right: 4px; float: left;
}
a.pp_arrow_previous {
	width: 14px; height: 15px; text-indent: -10000px; overflow: hidden; margin-top: 3px; float: left; display: block;
}
a.pp_arrow_next {
	width: 14px; height: 15px; text-indent: -10000px; overflow: hidden; margin-top: 3px; float: left; display: block;
}
.pp_hoverContainer {
	top: 0px; width: 100%; position: absolute; z-index: 2000;
}
.pp_gallery {
	left: 50%; margin-top: -50px; display: none; position: absolute; z-index: 10000;
}
.pp_gallery div {
	overflow: hidden; float: left; position: relative;
}
.pp_gallery ul {
	margin: 0px 0px 0px 5px; padding: 0px; height: 35px; float: left; white-space: nowrap; position: relative;
}
.pp_gallery ul a {
	border: 1px solid rgba(0, 0, 0, 0.5); border-image: none; height: 33px; overflow: hidden; float: left; display: block;
}
.pp_gallery ul a img {
	border: 0px currentColor; border-image: none;
}
.pp_gallery li {
	margin: 0px 5px 0px 0px; padding: 0px; float: left; display: block;
}
.pp_gallery li.default a {
	background: url("../images/default_thumbnail.gif") no-repeat 0px 0px; width: 50px; height: 33px; display: block;
}
.pp_gallery .pp_arrow_previous {
	margin-top: 7px !important;
}
.pp_gallery .pp_arrow_next {
	margin-top: 7px !important;
}
a.pp_next {
	background: url("../images/prettyPhoto/light_rounded/btnNext.png") no-repeat 10000px 10000px; width: 49%; height: 100%; text-indent: -10000px; float: right; display: block;
}
a.pp_previous {
	background: url("../images/prettyPhoto/light_rounded/btnNext.png") no-repeat 10000px 10000px; width: 49%; height: 100%; text-indent: -10000px; float: left; display: block;
}
a.pp_expand {
	top: 10px; width: 20px; height: 20px; right: 30px; text-indent: -10000px; display: none; position: absolute; z-index: 20000; cursor: pointer;
}
a.pp_contract {
	top: 10px; width: 20px; height: 20px; right: 30px; text-indent: -10000px; display: none; position: absolute; z-index: 20000; cursor: pointer;
}
a.pp_close {
	top: 0px; right: 0px; line-height: 22px; text-indent: -10000px; display: block; position: absolute;
}
.pp_loaderIcon {
	margin: -12px 0px 0px -12px; left: 50%; top: 50%; width: 24px; height: 24px; display: block; position: absolute;
}
#pp_full_res {
	line-height: 1 !important;
}
#pp_full_res .pp_inline {
	text-align: left;
}
#pp_full_res .pp_inline p {
	margin: 0px 0px 15px;
}
div.ppt {
	margin: 0px 0px 5px 15px; color: rgb(255, 255, 255); font-size: 145%; display: none; z-index: 9999;
}
div.pp_default .pp_content {
	background-color: rgb(255, 255, 255);
}
div.light_rounded .pp_content {
	background-color: rgb(255, 255, 255);
}
div.pp_default #pp_full_res .pp_inline {
	color: rgb(0, 0, 0);
}
div.light_rounded .pp_content .ppt {
	color: rgb(0, 0, 0);
}
div.light_rounded #pp_full_res .pp_inline {
	color: rgb(0, 0, 0);
}
div.light_square .pp_content .ppt {
	color: rgb(0, 0, 0);
}
div.light_square #pp_full_res .pp_inline {
	color: rgb(0, 0, 0);
}
div.facebook .pp_content .ppt {
	color: rgb(0, 0, 0);
}
div.facebook #pp_full_res .pp_inline {
	color: rgb(0, 0, 0);
}
div.pp_default .pp_gallery ul li a:hover {
	border-color: rgb(255, 255, 255);
}
div.pp_default .pp_gallery ul li.selected a {
	border-color: rgb(255, 255, 255);
}
.pp_gallery ul a:hover {
	border-color: rgb(255, 255, 255);
}
.pp_gallery li.selected a {
	border-color: rgb(255, 255, 255);
}
div.pp_default .pp_details {
	position: relative;
}
div.light_rounded .pp_details {
	position: relative;
}
div.dark_rounded .pp_details {
	position: relative;
}
div.dark_square .pp_details {
	position: relative;
}
div.light_square .pp_details {
	position: relative;
}
div.facebook .pp_details {
	position: relative;
}
div.light_rounded .pp_top .pp_middle {
	background: rgb(255, 255, 255);
}
div.light_rounded .pp_content_container .pp_left {
	background: rgb(255, 255, 255);
}
div.light_rounded .pp_content_container .pp_right {
	background: rgb(255, 255, 255);
}
div.light_rounded .pp_bottom .pp_middle {
	background: rgb(255, 255, 255);
}
div.light_square .pp_left {
	background: rgb(255, 255, 255);
}
div.light_square .pp_middle {
	background: rgb(255, 255, 255);
}
div.light_square .pp_right {
	background: rgb(255, 255, 255);
}
div.light_square .pp_content {
	background: rgb(255, 255, 255);
}
div.facebook .pp_content {
	background: rgb(255, 255, 255);
}
div.light_rounded .pp_description {
	margin-right: 85px;
}
div.light_square .pp_description {
	margin-right: 85px;
}
div.light_rounded .pp_gallery a.pp_arrow_previous {
	margin-top: 12px !important;
}
div.light_rounded .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}
div.dark_rounded .pp_gallery a.pp_arrow_previous {
	margin-top: 12px !important;
}
div.dark_rounded .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}
div.dark_square .pp_gallery a.pp_arrow_previous {
	margin-top: 12px !important;
}
div.dark_square .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}
div.light_square .pp_gallery a.pp_arrow_previous {
	margin-top: 12px !important;
}
div.light_square .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}
div.light_rounded .disabled.pp_arrow_previous {
	background-position: 0px -87px; cursor: default;
}
div.dark_rounded .disabled.pp_arrow_previous {
	background-position: 0px -87px; cursor: default;
}
div.dark_square .disabled.pp_arrow_previous {
	background-position: 0px -87px; cursor: default;
}
div.light_square .disabled.pp_arrow_previous {
	background-position: 0px -87px; cursor: default;
}
div.light_rounded .disabled.pp_arrow_next {
	background-position: -22px -87px; cursor: default;
}
div.dark_rounded .disabled.pp_arrow_next {
	background-position: -22px -87px; cursor: default;
}
div.dark_square .disabled.pp_arrow_next {
	background-position: -22px -87px; cursor: default;
}
div.light_square .disabled.pp_arrow_next {
	background-position: -22px -87px; cursor: default;
}
div.light_rounded .pp_loaderIcon {
	background: url("../images/prettyPhoto/light_rounded/loader.gif") no-repeat center;
}
div.light_square .pp_loaderIcon {
	background: url("../images/prettyPhoto/light_rounded/loader.gif") no-repeat center;
}
div.dark_rounded .pp_top .pp_middle {
	background: url("../images/prettyPhoto/dark_rounded/contentPattern.png") left top;
}
div.dark_rounded .pp_content {
	background: url("../images/prettyPhoto/dark_rounded/contentPattern.png") left top;
}
div.dark_rounded .pp_bottom .pp_middle {
	background: url("../images/prettyPhoto/dark_rounded/contentPattern.png") left top;
}
div.dark_rounded .currentTextHolder {
	color: rgb(196, 196, 196);
}
div.dark_square .currentTextHolder {
	color: rgb(196, 196, 196);
}
div.dark_rounded #pp_full_res .pp_inline {
	color: rgb(255, 255, 255);
}
div.dark_square #pp_full_res .pp_inline {
	color: rgb(255, 255, 255);
}
.pp_top {
	height: 20px; position: relative;
}
.pp_bottom {
	height: 20px; position: relative;
}
* html .pp_top {
	padding: 0px 20px;
}
* html .pp_bottom {
	padding: 0px 20px;
}
.pp_top .pp_left {
	left: 0px; width: 20px; height: 20px; position: absolute;
}
.pp_bottom .pp_left {
	left: 0px; width: 20px; height: 20px; position: absolute;
}
.pp_top .pp_middle {
	left: 20px; height: 20px; right: 20px; position: absolute;
}
.pp_bottom .pp_middle {
	left: 20px; height: 20px; right: 20px; position: absolute;
}
* html .pp_top .pp_middle {
	left: 0px; position: static;
}
* html .pp_bottom .pp_middle {
	left: 0px; position: static;
}
.pp_top .pp_right {
	left: auto; top: 0px; width: 20px; height: 20px; right: 0px; position: absolute;
}
.pp_bottom .pp_right {
	left: auto; top: 0px; width: 20px; height: 20px; right: 0px; position: absolute;
}
.pp_fade {
	display: none;
}
.pp_gallery li.default a img {
	display: none;
}
.zt-image-frame {
	margin: 0px 30px 20px; padding: 4px; border: 1px solid rgb(255, 255, 255); border-image: none; display: inline-block; box-shadow: 0px 0px 4px 1px #ececec; background-color: rgb(240, 240, 240);
}
div.shortcode-list ul {
	list-style: none; margin-bottom: 10px; margin-left: 0px;
}
div.shortcode-list li {
	padding: 2px 0px 2px 25px; border: 0px currentColor; border-image: none;
}
div.shortcode-list-arrow li {
	background: url("../images/list/arrow.png") no-repeat;
}
div.shortcode-list-arrow2 li {
	background: url("../images/list/arrow2.png") no-repeat;
}
div.shortcode-list-arrow3 li {
	background: url("../images/list/arrow3.png") no-repeat;
}
div.shortcode-list-bullet li {
	background: url("../images/list/bullet.png") no-repeat;
}
div.shortcode-list-bullet2 li {
	background: url("../images/list/bullet2.png") no-repeat;
}
div.shortcode-list-bullet3 li {
	background: url("../images/list/bullet3.png") no-repeat;
}
div.shortcode-list-check li {
	background: url("../images/list/check.png") no-repeat;
}
div.shortcode-list-check2 li {
	background: url("../images/list/check2.png") no-repeat;
}
div.shortcode-list-check3 li {
	background: url("../images/list/check3.png") no-repeat;
}
div.shortcode-list-delete li {
	background: url("../images/list/delete.png") no-repeat;
}
div.shortcode-list-delete2 li {
	background: url("../images/list/delete2.png") no-repeat;
}
div.shortcode-list-delete3 li {
	background: url("../images/list/delete3.png") no-repeat;
}
div.message-box-wrapper {
	padding: 20px; border: 1px solid currentColor; border-image: none; margin-bottom: 20px;
}
div.message-box-head {
	width: 100%; clear: both; margin-top: 2px;
}
div.message-box-title {
	width: 95%; font-size: 120%; font-weight: bold;
}
div.message-box-close {
	margin: -20px -45px 0px 0px; width: 5%; float: right;
}
div.message-box-content {
	margin-top: 12px;
}
div.red.message-box-wrapper {
	border-color: rgb(233, 185, 187); color: rgb(113, 58, 60); background-color: rgb(255, 220, 221);
}
div.red.message-box-wrapper .message-box-title {
	color: rgb(141, 67, 69);
}
div.yellow.message-box-wrapper {
	border-color: rgb(225, 219, 139); color: rgb(77, 77, 57); background-color: rgb(255, 255, 224);
}
div.yellow.message-box-wrapper .message-box-title {
	color: rgb(115, 115, 87);
}
div.blue.message-box-wrapper {
	border-color: rgb(142, 195, 217); color: rgb(61, 80, 88); background-color: rgb(194, 225, 238);
}
div.blue.message-box-wrapper .message-box-title {
	color: rgb(71, 93, 102);
}
div.green.message-box-wrapper {
	border-color: rgb(186, 222, 177); color: rgb(67, 91, 61); background-color: rgb(225, 255, 217);
}
div.green.message-box-wrapper .message-box-title {
	color: rgb(82, 109, 75);
}
div.shortcode-social {
	margin-right: 12px; float: left; opacity: 0.5;
}
div.shortcode-social:hover {
	opacity: 1;
}
ul.tabs {
	list-style: none; margin: 0px; padding: 0px; height: 40px; display: block;
}
ul.tabs li {
	margin: 0px 10px; padding: 0px; width: auto; height: 40px; float: left; display: block; cursor: pointer;
}
ul.tabs li a {
	background: rgb(248, 248, 248); margin: 0px; padding: 0px 20px; border: 1px solid rgb(237, 236, 236); border-image: none; width: auto; height: 39px; color: rgb(114, 114, 114); text-transform: uppercase; line-height: 39px; font-size: 110%; text-decoration: none; display: block;
}
ul.tabs li a.active {
	background: rgb(255, 255, 255) !important; border-width: 1px 1px 0px; margin: 0px; height: 40px; color: rgb(14, 116, 188); position: relative;
}
ul.tabs-content {
	background: rgb(255, 255, 255); list-style: none; margin: 0px 0px 20px; padding: 20px; border: 1px solid rgb(237, 236, 236); border-image: none; display: block;
}
ul.tabs-content > li {
	background: 0px; padding: 0px; display: none;
}
ul.tabs-content > li.active {
	display: block;
}
ul.tabs::before {
	width: 0px; height: 0px; overflow: hidden; display: block; visibility: hidden; content: "\0020";
}
ul.tabs::after {
	width: 0px; height: 0px; overflow: hidden; display: block; visibility: hidden; content: "\0020";
}
ul.tabs::after {
	clear: both;
}
ul.tabs {
	-ms-zoom: 1;
}
h3.testimonial-header-title {
	font-size: 150%; margin-bottom: 25px; margin-left: 10px;
}
div.testimonial-no-header {
	padding-top: 47px;
}
div.testimonial-icon {
	background: url("../images/quotes-18px.png") 0px 0px; width: 18px; height: 18px; margin-top: 2px; margin-right: 15px; margin-left: 1px; float: left;
}
div.testimonial-author {
	text-align: right; padding-bottom: 10px; font-size: 110%; font-weight: bold; margin-top: 20px; margin-right: 3px; margin-bottom: 20px; border-bottom-color: rgb(206, 206, 206); border-bottom-width: 1px; border-bottom-style: solid;
}
.testimonial-author-name {
	color: rgb(73, 73, 73) !important;
}
.testimonial-author-position {
	color: rgb(141, 141, 141) !important;
}
h3.toggle-box-header-title {
	font-size: 150%; margin-bottom: 25px;
}
ul.zt-toggle-box {
	margin-left: 0px;
}
ul.zt-toggle-box li {
	background: 0px; list-style: none; padding: 0px 0px 10px; margin-bottom: 10px; border-bottom-color: rgb(236, 236, 236); border-bottom-width: 1px; border-bottom-style: solid;
}
h3.toggle-box-head {
	padding: 0px; line-height: 25px; font-size: 140%; cursor: pointer;
}
div.toggle-box-content {
	padding: 10px 0px 10px 37px; overflow: hidden;
}
span.toggle-box-head-image {
	width: 24px; height: 24px; margin-right: 13px; float: left; cursor: pointer;
}
div.toggle-box-head p {
	margin-bottom: 0px;
}
h3.toggle-box-head span.active.accordion-head-image {
	background: url("../images/minus-24px.png") 0px 0px;
}
h3.toggle-box-head span.active.toggle-box-head-image {
	background: url("../images/minus-24px.png") 0px 0px;
}
span.accordion-head-image {
	background: url("../images/plus-24px.png") 0px 0px;
}
span.toggle-box-head-image {
	background: url("../images/plus-24px.png") 0px 0px;
}
div.divider {
	border-bottom-color: rgb(236, 236, 236); border-bottom-width: 1px; border-bottom-style: solid;
}
div.divider {
	margin-top: 8px; position: relative;
}
div.scroll-top {
	top: -19px; right: 2px; font-size: 90%; position: absolute; cursor: pointer;
}
.scroll-top {
	color: rgb(124, 124, 124) !important;
}
.pricing_box {
	background: rgb(255, 255, 255); margin: 20px 0px; padding: 0px 0px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; text-align: center; font-family: inherit; float: left; -webkit-transition: box-shadow 0.25s ease 0s; -moz-transition: box-shadow 0.25s ease 0s; -o-transition: box-shadow 0.25s ease 0s;
}
.pricing_box .header {
	margin: 0px 0px 20px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.pricing_box a.button {
	background: url("../images/btn_bg.png") repeat-x top rgb(231, 61, 38) !important; padding: 0.3em 2em; border: 1px solid rgb(231, 61, 38); border-image: none; text-align: center; color: rgb(255, 255, 255) !important; line-height: 2; font-family: inherit; font-size: 95%; font-weight: normal; text-decoration: none; margin-right: 5px; display: inline-block; cursor: pointer; text-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}
.pricing_box .header {
	background: rgb(249, 249, 249); width: 100%; height: 42px; text-align: center;
}
.pricing_box .header span {
	top: 10px; padding-bottom: 7px; font-size: 14px; position: relative;
}
.large.pricing_box .header span {
	top: 15px; font-size: 14px;
}
.pricing_box h2 {
	padding-top: 5px; font-size: 44px;
}
.pricing_box ul {
	list-style: none; margin: 10px auto 35px; width: 85%; text-align: left;
}
.pricing_box ul li {
	background: 0px; padding: 10px 0px; text-align: center; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.featured.pricing_box {
	padding-bottom: 40px; margin-top: -0.5%; box-shadow: 5px 0px 30px rgba(0,0,0,0.5); -webkit-transition: box-shadow 0.25s ease 0s; -webkit-box-shadow: 5px 0 30px rgba(0, 0, 0, 0.5); -moz-transition: box-shadow 0.25s ease 0s; -o-transition: box-shadow 0.25s ease 0s; -moz-box-shadow: 5px 0 30px rgba(0, 0, 0, 0.5);
}
.pricing_box:hover {
	box-shadow: 5px 0px 30px rgba(0,0,0,0.5); -webkit-transition: box-shadow 0.25s ease 0s; -webkit-box-shadow: 5px 0 30px rgba(0, 0, 0, 0.5); -moz-transition: box-shadow 0.25s ease 0s; -o-transition: box-shadow 0.25s ease 0s; -moz-box-shadow: 5px 0 30px rgba(0, 0, 0, 0.5);
}
.large.pricing_box .header {
	background: rgb(50, 50, 50); height: 51px; color: rgb(255, 255, 255);
}
.pricing_wrap_3 .pricing_box {
	width: 32.5%;
}
.pricing_wrap_4 .pricing_box {
	width: 24.5%; font-size: 1em;
}
.four.pricing_box h2 {
	font-size: 3em;
}
.five.pricing_box {
	width: 19.5%; font-size: 0.9em;
}
.five.pricing_box h2 {
	font-size: 1.9em;
}
.large.five.pricing_box {
	margin-top: -2.5%;
}
.five.pricing_box .header span {
	top: 11px; font-size: 1.3em;
}
.large.five.pricing_box .header span {
	top: 13px; font-size: 1.5em;
}
.shortcode-clear {
	width: 100%; clear: both;
}
#editor-xtd-buttons {
	background: 0px 0px rgb(240, 240, 238); border-width: 0px 1px 1px; border-style: none solid solid; border-color: rgb(204, 204, 204); margin: 0px; padding: 4px; height: 50px; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;
}
.button2-left {
	background: url("../images/j_button2_left.png") no-repeat 0px 0px !important;
}
ol.linenums {
	list-style: decimal;
}
#editor-xtd-buttons div.button2-left {
	margin: 0px 5px 5px 0px !important;
}
.button2-left .bsc-accordion {
	background: url("../images/accordion.png") no-repeat 100% 0px;
}
.button2-left .bsc-blockquote {
	background: url("../images/blockquote.png") no-repeat 100% 0px;
}
.button2-left .bsc-buttons {
	background: url("../images/buttons.png") no-repeat 100% 0px;
}
.button2-left .bsc-column {
	background: url("../images/column.png") no-repeat 100% 0px;
}
.button2-left .bsc-dropcap {
	background: url("../images/dropcap.png") no-repeat 100% 0px;
}
.button2-left .bsc-gallery {
	background: url("../images/gallery.png") no-repeat 100% 0px;
}
.button2-left .bsc-message {
	background: url("../images/message.png") no-repeat 100% 0px;
}
.button2-left .bsc-social {
	background: url("../images/social.png") no-repeat 100% 0px;
}
.button2-left .bsc-tabs {
	background: url("../images/tabs.png") no-repeat 100% 0px;
}
.button2-left .bsc-testimonial {
	background: url("../images/testimonial.png") no-repeat 100% 0px;
}
.button2-left .bsc-toggle {
	background: url("../images/toggle.png") no-repeat 100% 0px;
}
.button2-left .bsc-vimeo {
	background: url("../images/vimeo.png") no-repeat 100% 0px;
}
.button2-left .bsc-youtube {
	background: url("../images/youtube.png") no-repeat 100% 0px;
}
.button2-left .bsc-divider {
	background: url("../images/divider.png") no-repeat 100% 0px;
}
.button2-left .bsc-spacer {
	background: url("../images/spacer.png") no-repeat 100% 0px;
}
.button2-left .bsc-googlemap {
	background: url("../images/google_map.png") no-repeat 100% 0px;
}
.button2-left .bsc-highlighter {
	background: url("../images/highlighter.png") no-repeat 100% 0px;
}
.button2-left .bsc-lightbox {
	background: url("../images/lightbox.png") no-repeat 100% 0px;
}
.button2-left .bsc-list {
	background: url("../images/list.png") no-repeat 100% 0px;
}
.button2-left .bsc-pricing {
	background: url("../images/pricing.png") no-repeat 100% 0px;
}
.pln {
	color: rgb(0, 0, 0);
}
@media screen
{
.str {
	color: rgb(0, 136, 0);
}
.kwd {
	color: rgb(0, 0, 136);
}
.com {
	color: rgb(136, 0, 0);
}
.typ {
	color: rgb(102, 0, 102);
}
.lit {
	color: rgb(0, 102, 102);
}
.pun {
	color: rgb(102, 102, 0);
}
.opn {
	color: rgb(102, 102, 0);
}
.clo {
	color: rgb(102, 102, 0);
}
.tag {
	color: rgb(0, 0, 136);
}
.atn {
	color: rgb(102, 0, 102);
}
.atv {
	color: rgb(0, 136, 0);
}
.dec {
	color: rgb(102, 0, 102);
}
.var {
	color: rgb(102, 0, 102);
}
.fun {
	color: red;
}
}
@media print, projection
{
.str {
	color: rgb(0, 102, 0);
}
.kwd {
	color: rgb(0, 0, 102); font-weight: bold;
}
.com {
	color: rgb(102, 0, 0); font-style: italic;
}
.typ {
	color: rgb(68, 0, 68); font-weight: bold;
}
.lit {
	color: rgb(0, 68, 68);
}
.pun {
	color: rgb(68, 68, 0);
}
.opn {
	color: rgb(68, 68, 0);
}
.clo {
	color: rgb(68, 68, 0);
}
.tag {
	color: rgb(0, 0, 102); font-weight: bold;
}
.atn {
	color: rgb(68, 0, 68);
}
.atv {
	color: rgb(0, 102, 0);
}
}
pre.prettyprint {
	background: 0px 0px rgb(255, 255, 255); padding: 2px; border-radius: 0px; border: 1px solid rgb(221, 221, 221); border-image: none; clear: both;
}
ol.linenums {
	margin-top: 0px; margin-bottom: 0px;
}
ol.linenums li {
	margin: 0px 0px 0px 40px;
}
li.L1 {
	background: rgb(238, 238, 238);
}
li.L3 {
	background: rgb(238, 238, 238);
}
li.L5 {
	background: rgb(238, 238, 238);
}
li.L7 {
	background: rgb(238, 238, 238);
}
li.L9 {
	background: rgb(238, 238, 238);
}
div.zo2-gmap img {
	max-width: inherit !important;
}
.floating .zo2-social-box .zo2-social-inner {
	padding: 2px; text-align: center;
}
.socialbox-right {
	margin-left: 5px; float: right;
}
[class^='socialbox-'] {
	width: auto; height: auto;
}
[class*='socialbox-'] {
	width: auto; height: auto;
}
.socialbox-left {
	margin-left: -87px; float: left;
}
.horizontal .zo2-social-box {
	margin: 4px; display: inline-block;
}
