div.mod-languages ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div.mod-languages li {
    margin-right: 5px;
    margin-left: 5px;
}

div.mod-languages ul.lang-inline li {
    display: inline;
}

div.mod-languages ul.lang-block li {
    display: block;
}

div.mod-languages img {
    border: currentColor;
    border-image: none;
}

div.mod-languages a {
    text-decoration: none;
}

.logo_retina {
    display: none;
}

.logo_normal {
    display: block;
}

@media screen and (min-resolution: 2dppx), @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .logo_normal {
        display: none;
    }

    .logo_retina {
        display: block;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .logo_normal {
        display: none;
    }

    .logo_retina {
        display: block;
    }
}
