.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.rtl #zo2-header-top #top-social div.module {
	float: left;
}
.rtl div.search .button {
	margin: 0px -3px 0px 0px;
}
.rtl div.mod-languages ul li {
	margin: 0px 0px 0px 5px; float: right;
}
.rtl #zo2-header div.banneritem {
	text-align: left;
}
.rtl #zo2-header div.banneritem img {
	margin: 0px 0px 0px 5px;
}
.rtl #zo2-tab {
	padding: 0px 25px 0px 0px;
}
.rtl div.zo2-tab-inner div.zo2-k2ItemsBlock ul li div.image-item {
	margin: 0px 0px 0px 10px; float: right;
}
.rtl #lastest-news {
	direction: ltr;
}
.rtl #lastest-news h3.moduletitle {
	direction: rtl;
}
.rtl #scroller {
	direction: ltr;
}
.rtl div.zt_news_wrap div.article-item a.linkimg {
	margin: 0px 0px 0px 10px; float: right;
}
.rtl div.zt-newsiv-frame-cat div.list-item-link::before {
	margin: 0px 2px 0px 7px; content: "\f104";
}
.rtl div.cat-children > div > h3::before {
	margin: 0px 0px 0px 7px; content: "\f104";
}
.rtl div.ztvc-icon-agent div.ztvc-column {
	background-position: right top;
}
.rtl div.zt_news_wrap div.zt-title-category h3 {
	padding: 10px 15px 10px 0px;
}
.rtl div.rightk2ItemsBlock ul li a {
	float: right;
}
.rtl div.rightk2ItemsBlock ul li div.itemInfo {
	float: left;
}
.rtl #right h3.moduletitle {
	padding: 0px 10px 10px 0px;
}
.rtl .title3 h3.moduletitle {
	padding: 0px 10px 10px 0px;
}
.rtl #left ul.menu li > a {
	padding: 0px 15px 0px 0px;
}
.rtl div.zt-login-form #modlgn-remember {
	margin: 0px 0px 0px 5px; float: right;
}
.rtl div.latestItemHeader a::before {
	margin: 0px 0px 0px 7px; content: "\f104";
}
.rtl div.itemSocialSharing > div {
	margin: 0px 0px 0px 24px !important; float: right;
}
.rtl .componentheading {
	padding: 0px 15px 15px 0px;
}
.rtl .pull-right.btn-group {
	float: left !important;
}
.rtl img.caption2 {
	margin: 0px 0px 10px 10px; float: right;
}
.rtl a.catItemImage {
	margin: 0px 0px 0px 20px; float: right;
}
.rtl div.catItemHeader span.catItemAuthor {
	margin: 0px 0px 0px 20px; float: right;
}
.rtl div.catItemHeader span.catItemDateCreated {
	margin: 0px 0px 0px 20px; float: right;
}
.rtl div.itemImage {
	margin: 0px 0px 10px 10px; float: right;
}
.rtl div.itemHeader h1.componentheading {
	padding: 0px 15px 0px 0px;
}
.rtl div.iheader span.catItemDateCreated {
	float: right;
}
.rtl div.square.shortcode-dropcap {
	margin: 5px 0px 0px 5px; float: right;
}
.rtl div.pricing_box {
	float: right;
}
.rtl div.iheader div.catItemCommentsLink {
	padding: 0px 20px 0px 0px; float: left;
}
.rtl div.newsItemsContainer .news_lastest_item a.news-item-image {
	margin: 0px 0px 0px 10px; float: right;
}
.rtl div.subCategory {
	text-align: right;
}
.rtl div.subCategoryContainer a.readon {
	float: right;
}
.rtl div.itemComments ul.itemCommentsList li img {
	margin: 4px 0px 4px 15px; float: right;
}
.rtl div.itemComments ul.itemCommentsList li span.commentLink {
	margin: 0px; float: left;
}
.rtl div.itemComments ul.itemCommentsList li span.commentDate {
	border-width: 0px 0px 0px 1px; border-style: solid; border-color: rgb(204, 204, 204); margin: 0px 0px 0px 10px; padding: 0px 0px 0px 10px;
}
.rtl div.newsItemsContainer .news_items .newsItemsCategory h3 {
	margin: 15px 15px 10px 0px;
}
.rtl div.tagItemCategory {
	float: left;
}
.rtl div.k2FeedIcon a {
	float: left;
}
.rtl div.userBlock img {
	margin: 0px 0px 0px 8px; float: right;
}
.rtl div.userItemHeader div.userItemCategory {
	margin: 0px 0px 0px 20px; float: right;
}
.rtl div.userItemHeader span.userItemDateCreated {
	margin: 0px 0px 0px 20px; float: right;
}
.rtl div.userItemIntroText img {
	margin: 0px 0px 0px 10px; float: right;
}
.rtl div.catItemCommentsLink {
	float: right;
}
.rtl div.cform > div {
	float: right;
}
.rtl #gototop {
	left: 30px; right: inherit;
}
.rtl #zo2-header #header_logo .logo_normal {
	margin: 0px 5px 0px 0px;
}
.rtl div.k2ItemsBlock ul li span.moduleItemDateCreated {
	float: right;
}
.rtl div.k2ItemsBlock ul li a.moduleItemImage {
	float: right;
}
.rtl div.k2ItemsBlock ul li span.moduleItemDateCreated img {
	margin: 0px 0px 0px 10px !important;
}
.rtl div.k2ItemsBlock ul li a.moduleItemImage img {
	margin: 0px 0px 0px 10px !important;
}
.rtl #menu-news {
	direction: ltr;
}
.rtl .zo2-socialshares-floatbar {
	margin: 0px -100px 0px 0px;
}
.rtl div.zo2-socialshares-floatbar > div {
	direction: ltr;
}
.rtl .zt-timeline-item .zt-item-avatar {
	margin: 0px 0px 0px 5px; float: right;
}
