.zt-carousel .owl-wrapper::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.zt-carousel {
	width: 100%; display: none; position: relative; -ms-touch-action: pan-y;
}
.zt-carousel .owl-wrapper {
	display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px);
}
.zt-carousel .owl-wrapper-outer {
	width: 100%; overflow: hidden; position: relative;
}
.zt-carousel .autoHeight.owl-wrapper-outer {
	transition:height 500ms ease-in-out; -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out;
}
.zt-carousel .owl-item {
	float: left;
}
.zt-carousel .owl-item .item {
	margin: 0px 10px;
}
.owl-controls .owl-page {
	cursor: pointer;
}
.owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-ms-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.zt-carousel .owl-wrapper {
	transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}
.zt-carousel .owl-item {
	transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}


