.zt-twitter-timeline {
	margin: 0px; padding: 10px 0px 0px; text-align: left;
}
.zt-timeline-item {
	margin: 5px 0px;
}
.zt-timeline-item .zt-item-avatar {
	margin-right: 5px; float: left;
}
.zt-timeline-item a {
	
}
